[2019-07-23 19:37] craigcook commented on #439
It's not impossible, it's just fiddly, and if we do it we need to do it right so they remain accessible and so they still function in old browsers.

Monitor isn't using Protocol, and their implementation of those custom checkboxes isn't very accessible.

- They're excluded from the tab order so there's no way to change my selection with a keyboard, you have to use a pointing device.
- They do have

[2019-07-23 20:17] wboucherfischer commented on #439
So I've talked to the design team and this is something we'd really like to have - stylized radio buttons, checkboxes and dropboxes. It gives us greater control over the usability and readibility and the sizing of the controls, it allows us to create a comprehensive design system with typography that is representative of the brand and an extension of the brand. It would also allow us to design and

[2019-07-24 17:00] craigcook commented on #440
See also: https://github.com/mozilla/protocol/issues/251

We've talked for a long time about standardizing some animation effects, it just hasn't been a priority. We do have a handful of predefined transitions already but haven't put them to much use so far. [Photon has some basic guidelines](https://design.firefox.com/photon/motion/principles.html) we could start from.

[2019-07-24 19:19] craigcook opened #442 "Figure out how to manage multiple themes"
We knew this day would come...

As we're starting to integrate the Firefox brand and reorganize our approach to theming, we're faced with essentially three distinct themes for every component: a base theme, a Mozilla brand theme, and a Firefox brand theme. We're also facing theme variants, with light and dark options, so that can complicate things even further. There's even potential for incorpora

[2019-07-24 21:17] craigcook commented on #442
Further thoughts...

In working on the revised type scale for #410 I realized that the Firefox brand and Mozilla brand have different scales for headings. We size text with Sass mixins, and need to find a sensible way to maintain different type scales with minimal redundant code (I really don't want two whole sets of mixins). I think maybe we can rework those mixins to take some kind of theme vari

[2019-07-24 22:26] stephaniehobson commented on #442
It might be time for that fancy mixin you found that you need a table and a slide rule to figure out.

[2019-07-25 06:21] craigcook opened #457 "Add tokens for border radii (rounded corners)"
We should standardize a common set of radii (radiuses?), e.g.:

[code]

[2019-07-25 20:37] stephaniehobson opened #443 "Long declaration required to add icons to compact picto cards"
To add an icon to the picto cards the current syntax is:

[code]

We should be able to reduce the specificity so it can be referenced like:
[code]
or even
[code]

[2019-07-25 20:39] stephaniehobson commented on #443
We can achieve this in two ways:
1) Removing the background declaration from the mzp-c-card-picto-content:before
2) Moving the background declaration outside of the nesting.

I prefer #1. If we want to keep the background for demo purposes that style could be moved into demo specific styles sheets for the picto component.

[2019-07-26 23:21] stephaniehobson opened #444 "Seperate newsletter form and newsletter layout styling"
The form with the submission fields, error messages, and thank you should be able to be nested inside other containers. Right now it only works inside a `mzp-c-newsletter` container which comes with a bunch of layout styles that are unwanted in the current design I'm currently programming.

This might actually be a typo. I think we can just change line 7 of _newsletter-form.scss from `.mzp-c-newsl

[2019-07-29 09:31] alexgibson commented on #442
We should also probably spend some time thinking about how to handle supporting themes at the component level, in order to keep our CSS bundles as small as possible. We already publish our tokens as CSS custom variables, which have potential to make theming easier to manage. This may be worth some consideration?

[2019-07-29 17:31] stephaniehobson commented on #442
So... no theming for nonsupporting browsers... intriguing.

[2019-07-29 17:33] wboucherfischer commented on #442
What are the non-supported browsers?

On Mon, Jul 29, 2019 at 10:31 AM Stephanie Hobson <notifications@github.com>
wrote:

[2019-07-29 17:34] stephaniehobson commented on #442
Internet Explorer and old versions of other browsers: https://www.caniuse.com/#feat=css-variables

[2019-07-30 18:36] stephaniehobson commented on #442
Some ideas:

## One theme per page all themes are dependent on a body class.

This is basically what we do now

[code]

## All components switch to mixins with no output by default, then we pass the component theme:

[code]
[code]

## CSS Custom Properties (aka Variables):

All theme related values are put into CPs, let the cascade handle the rest. (Non supporting browsers would get a default them

[2019-07-30 18:41] stephaniehobson commented on #442
Further thoughts:

- We should try to write some requirements for what we want the system to do (do we need to have multiple themes on the same page?)
- Are we working on firefox vs mozilla or does the system need to handle light and dark variations as well?
- Do we want the system to be capable of minimizing the outputted CSS, or can we add some other kind of technical solution to solve that (pos

[2019-07-30 19:26] amychurchwell opened #445 "Update docs layout of fundamentals/color."
## Description
I was looking through the brand guidelines documents and I thought we should imitate how they laid out color (horizontally) in the layout of fundamentals/color.

![Screen Shot 2019-07-30 at 12 22 07 PM](https://user-images.githubusercontent.com/30483988/62158642-c3cf7d00-b2c4-11e9-932e-760acb054394.png)

[2019-07-30 20:41] craigcook commented on #442
I think we would want to avoid mixing two brands on the same page, so declaring a per-page theme might be a good way to forcibly prevent it. Then again, maybe there's a valid case for mixed branding I haven't thought of and we'd rather do it per component... or at last have some option to override where needed.

Either way, I think we'd treat the base "unthemed" theme as universal and brand-neutra

[2019-07-30 21:11] ejregithub opened #446 "Update Sketch library and created create symbols"
## Description

A task associated with the original issue "[Create issues on Protocol for missing components](https://github.com/mozilla/bedrock/issues/7444)" is being pulled out as separate issue, namely to fulfill the Success Criteria for "Sketch library and symbols created"

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] Sketch library and symbols created

#### Tasks
- [ ] Add to Ske

[2019-07-30 21:25] craigcook commented on #20
There's been no movement on this for a while, closing as irrelevant for now. If we want to revisit the idea at a later time we can reopen or start fresh.

[2019-07-30 21:25] #20 closed

[2019-07-30 21:26] craigcook commented on #84
There's been no movement on this for a while, closing as irrelevant for now. If we want to revisit the idea at a later time we can reopen or start fresh.

[2019-07-30 21:26] #84 closed

[2019-07-30 21:27] craigcook commented on #18
There's been no movement on this for a while, closing as irrelevant for now. If we want to revisit the idea at a later time we can reopen or start fresh.

[2019-07-30 21:27] #18 closed

[2019-07-30 21:28] #1 closed

[2019-07-30 21:30] craigcook commented on #156
I think this is superseded by #326

[2019-07-30 21:30] #156 closed

[2019-07-30 21:30] craigcook commented on #5
There's been no movement on this for a while, closing as irrelevant for now. If we want to revisit the idea at a later time we can reopen or start fresh.

[2019-07-30 21:30] #5 closed

[2019-07-30 21:46] ejregithub commented on #446
@wboucherfischer - please apply a sizing Estimate (Fibonacci scale) for the work required to complete this.

[2019-07-30 21:50] craigcook commented on #27
I feel like we have some tribal knowledge about our browser support but haven't really documented it anywhere. In any case, this is a stale issue so I'm going to close it for now to help clean up our backlog. We can reopen if there's anything more to discuss.

[2019-07-30 21:50] #27 closed

[2019-07-30 21:50] ejregithub commented on #410
@craigcook - if you can size this independently, please do - and apply the Estimate.

[2019-07-30 21:54] craigcook commented on #176
We added a tokens page at https://protocol.mozilla.org/fundamentals/tokens.html which at least gives us an easier reference for these values, though I think we could expand on it with more context and guidelines. Closing this issue as "good enough for the moment."

[2019-07-30 21:54] #176 closed

[2019-07-31 00:01] wboucherfischer commented on #442
I think you should talk to Clio about this. Frankly I think a lot of things
branded Mozilla should be Firefox.

On Tue, Jul 30, 2019, 1:41 PM Craig Cook <notifications@github.com> wrote:

[2019-07-31 08:34] alexgibson commented on #442
This may not be viable for bedrock depending on the level of support we wish to deliver to older browsers, but if we used Custom Properties carefully, it's entirely possible to not code any fallback at all, and still have older browsers degrade gracefully to default browser colors. It may not be ideal, but it's still perfectly readable & accessible. Also considering most of our pages are black tex

[2019-07-31 16:09] ejregithub commented on #383
@amychurchwell - please size this work, apply the Estimate and tag it with the Priority, P1, P2, P3 assigned by Justin.

[2019-07-31 16:10] ejregithub commented on #410
@craigcook - please size this work, apply the Estimate and tag it with the Priority, P1, P2, P3 assigned by Justin.

[2019-07-31 16:21] amychurchwell commented on #383
@hoosteeno what priority would we give this task? I was considering it P2(?) because it is a piece of the work in https://github.com/mozilla/bedrock/issues/7468 which is marked as P1

[2019-07-31 16:30] hoosteeno commented on #383
This is P1.

[2019-07-31 16:34] craigcook commented on #383
Since it ties to WNP69 I think it inherits the P1 from that epic.

[2019-08-01 11:28] johngruen commented on #417
I think visual designers on both teams are looking at a 4px baseline grid with font-sizes and line-heights at multiples thereof.

AFAICT, there's no specific WCAG target font size for body fonts, but 16 px does seem to be a [rule](https://uxtricks.design/blogs/ux-design/accessibility-standards/) of [thumb](https://accessibleweb.com/wcag_2_0_developers/minimum-font-size/). The other A11y rule would

[2019-08-01 12:10] johngruen opened #447 "(9/26) Implement theming"
In order to manage application of Protocol as it applies to Mozilla and Firefox design systems we will need to create a set of theming conventions that cascade down from a top level declarations.

## Requirements
* typographic sizing, color, and font classes should be separate. This separation will allow for down-the-road flexibility for creating different colorways, type scales, and font-usage pa

[2019-08-01 12:26] johngruen commented on #447
Related: #416

[2019-08-01 12:36] johngruen commented on #410
When implementing the type-scale, please cascade sizes off of a root class per #447

[2019-08-01 12:40] johngruen commented on #442
agree with alex that unfortunately, i don't believe w can support css custom properties at the moment. I have written what i view as an extremely simple proposal for resolving this issue as #447... the gist of it is `mzp-t-brand-firefox` or `mzp-t-brand-mozilla` would set a default document palette, but that we could add optional override classes for different colorways...ie`mzp-t-colorway-vivid`

[2019-08-01 13:57] johngruen commented on #439
Agree that we should do this, but it's not mission critical at the moment...

[2019-08-01 13:59] johngruen commented on #435
So here's my put on all inputs
...yes they are fussy to stylize, but i do think we should build out components for custom-designed versions available in Protocol. we can gracefully degrade them, or make the classes optional

[2019-08-01 14:05] #338 closed

[2019-08-01 14:14] johngruen commented on #130
i think this is right, fundamentally, but we should treat button styles as descendants of the root `mzp-t-brand-${whatever}` theme class

[2019-08-01 14:28] johngruen commented on #196
decisions:

* alignment should be: `start, end, reverse` and not `left, right, reverse`
* for components that describe things that are layered in some way, the outermost box should name the component, and an inner `-content` class should define the fill-able area eg
[code]

[2019-08-01 16:05] wboucherfischer commented on #435
@johngruen we have discussed this with Dev and have decided to explore this. They are open to it, it's jsut a matter that it's done correctly in an accessible way with good loading performance.

[2019-08-01 16:12] stephaniehobson commented on #447
The current set up is that the themes set:
- body font family
- heading font family
- text color
(both themes currently use the same typescale, neither them uses Open Sans anymore)

I don't understand the rational for asking to set typographic sizing, color, and font classes separately. What is the use-case for the mozilla typescale with the firefox font family?

[2019-08-01 16:15] wboucherfischer commented on #439
We have discussed this with dev, they are open to it and exploring an accessible and stylized radio button and checkbox. I am concerned about inconsistency across the website in regards to checkboxes and radio buttons. On the monitor.firefox.com site, under monitor preferences, we have Checkboxes acting like radio buttons, and nothing matches the website in color, as we don't use purple as a contr

[2019-08-01 16:31] stephaniehobson opened #448 "Update component classes to use new naming standards"
From https://github.com/mozilla/protocol/issues/196#issuecomment-517311790:

* alignment should be: `start, end, reverse` and not `left, right, reverse`
* for components that describe things that are layered in some way, the outermost box should name the component, and an inner `-content` class should define the fill-able area eg
[code]

- [ ] document new naming standards
- [ ] update card to rep

[2019-08-01 16:32] stephaniehobson commented on #196
Sounds good closing the discussion and opening an implementation issue: https://github.com/mozilla/protocol/issues/448

[2019-08-01 16:32] #196 closed

[2019-08-01 16:51] johngruen commented on #444
are there UX deps here or is this just a code cleanup issue?

[2019-08-01 16:52] johngruen commented on #440
I don't think the toast/multi-notification thing is a priority, but having an animation here makes sense.

[2019-08-01 16:52] johngruen commented on #440
Agree with craig that we can start from the photon library for animations here, but let's de-scope the idea of a toast stream

[2019-08-01 16:54] wboucherfischer commented on #417
There are no WCAG target font sizes, but 18px is considered large size, so there's a 3:1 color contrast ratio vs. 4.5:1 for other text below 18px. 18px is also easier to read across a wide variety of mobile and tablet devices, and higher resolution monitors. It's also easier to read from an accessibility standpoint for older people or people with minor far-sight problems who don't wear reading gla

[2019-08-01 17:01] johngruen commented on #447
@stephaniehobson the intent here is not to use the mozilla type scale with the firefox font family, it is to separate the typescale from the usage of thefont family...this is a little overhead for the very likely scenario where protocol will be used for application design...for example, in the future we might do something like: `mzp-t-brand-firefox mzp-t-usage-application`

[2019-08-01 17:06] johngruen commented on #428
please add that `:visited` should only be set if the `mzp-t-usage-presentation` theme is set on the body element (per #447 )

[2019-08-01 17:11] johngruen commented on #417
so my concern here is that this change would have cascading effects that would mean that we need to rethink relationships across the site. it's worth discussion, but i am kicking this from this sprint b/c is it not actionable.

[2019-08-01 17:11] johngruen commented on #405
#447

[2019-08-01 17:12] #343 closed

[2019-08-01 17:15] johngruen commented on #410
Let's do this:
1. within the `mzp-t-usage-presentation` class (#447) we should set h{n} element selectors to match the rules Wendy defined above.
2. We should also have a set of utility classes within this namespace for `mzp-u-display-${size}

[2019-08-01 17:17] johngruen commented on #383
@amychurchwell let's move this into the the current sprint!

[2019-08-01 17:24] johngruen commented on #385
is there a measurement spec for this or just a static image?

[2019-08-01 17:28] johngruen commented on #443
what is `.t-instance` doing here?

[2019-08-01 18:30] #442 closed

[2019-08-01 18:37] amychurchwell commented on #385
@johngruen design linked in bedrock issue for page containing this component, also static image- https://github.com/mozilla/bedrock/issues/7354#issuecomment-511815158 Should we track down sketch file? I personally feel that we have solid direction for the dev work here.

[2019-08-01 18:43] craigcook opened #449 "Update to latest protocol-tokens"
A few recent updates have landed in https://github.com/mozilla/protocol-tokens (and some others still pending) but haven't been published and drawn into Protocol yet. It changes some values, adds some new ones, and removes/renames some others so it will be a breaking change that needs to be tied to a Protocol major version bump.

[2019-08-01 18:45] ejregithub commented on #447
John to book a meeting Friday a.m. w. Stephanie & Craig

[2019-08-01 19:15] craigcook commented on #447
Relevant to themes and different sizes for different fonts, this is some clever work from the USWDS that warrants a look, maybe just for inspiration if not actually adopting the same technique (and also putting the link here before I forget and lose it again): https://designsystem.digital.gov/design-tokens/typesetting/overview/

[2019-08-01 23:59] stephaniehobson commented on #444
Just code cleanup.

[2019-08-02 00:04] stephaniehobson commented on #443
In bedrock when we add classes we do not add namespace. In this case the class was necessary to target this specific picto card instance. I didn't use that name in bedrock though, I just renamed it for the example here to try (and fail apparently) to communicate that an extra class has to be added.

The actual code from bedrock is:
[code]

[2019-08-02 07:47] johngruen opened #450 "Investigate Storybook for visual unit tests"
We've used Storybook with great results on Firefox Accounts payments pages. The TL;DR with Storybook is that lets you create visual reference of real components and easily add as many permutations as you like by programmatically specifying variants.

Here's the Storybooks server we've stood up on [FxA Payments](http://mozilla.github.io/fxa/fxa-payments-server/?path=/story/components-alertbar--basi

[2019-08-02 07:51] johngruen opened #451 "Rename protocol-extra to something more descriptive"
The name `protocol-extra` doesn't capture the functionality/usage of package. We should change the name to `protocol-marketing-components` or `protocol-presentation-components` or just `protocol-marketing`.

[2019-08-02 15:55] #245 closed

[2019-08-02 21:48] stephaniehobson commented on #447
Here's a proof of concept for how we might handle everything except the light and dark themes (aka colour schemes aka child themes).

https://codepen.io/stephaniehobson/pen/BXwoBK?editors=0100

For people using Protocol they would have to configure global variables for brand and scale before importing components.

[code]

When writing components the system uses Sass maps to configure font-family,

[2019-08-02 21:51] stephaniehobson commented on #447
Oh, and here are the notes from our meeting: https://docs.google.com/document/d/1DXQ3ZVNyXTGt_869fjeEJpRyX4TyhfYnf_vw7McGdbE/edit?usp=sharing

[2019-08-06 09:43] johngruen opened #452 "Update Prism theme to consume color tokens"
It would be cool if the prism theme were a bit "foxier"...we could probably achieve this by utilizing color tokens in the theme.

[2019-08-06 09:52] johngruen commented on #450
probably this is not necessary since the tool is quite similar to drizzle, so this is back-loggable. Just wanted to call it out

[2019-08-06 10:13] johngruen opened #453 "Better indicate which components are part of core and extra in Protocol docs"
We should consider adding some kind of identifier on both nav items in the protocol site and on individual pages

[2019-08-06 10:15] johngruen commented on #453
related to #451

[2019-08-06 18:51] craigcook commented on #442
Some additional notes and brainstorming here, linked for posterity: https://docs.google.com/document/d/1DXQ3ZVNyXTGt_869fjeEJpRyX4TyhfYnf_vw7McGdbE/

I think we've discussed it enough and have a handle on the approach we want to take, and we'll file a separate issue for the implementation work.

tl;dr: Rather than hang everything from classes we think it's sensible to declare some global theme var

[2019-08-07 17:19] amychurchwell opened #455 "Documentation on Abstract for developer audience."
## Description

Considering that future protocol design specs will live in Abstract, we should have introductory documentation for developers who need to utilize this tool to build specs provided.

[2019-08-07 17:37] craigcook opened #458 "Add tokens for border widths"
We should standardize a common set of border widths, e.g.:

[code]

[2019-08-08 15:42] amychurchwell opened #459 "Notification Bar: improve a11y when notification opens."
## Description

[Consideration from work in PR #431]

We should consider a11y when a notification is programatically opened using JS.

What should happen:
- Should focus move to the notification title when it is displayed?
- Should that be required, or optional?
- Do we need any additional ARIA information?

[2019-08-08 16:44] amychurchwell opened #460 "Notification Bar: Add optional link cta"
## Description

Notification bars should support an optional link cta.

![image](https://user-images.githubusercontent.com/30483988/62721344-dd597e80-b9c0-11e9-80da-b6adcee30b4b.png)

[Continuation of work in PR  #431]

[2019-08-08 17:06] #383 closed

[2019-08-08 17:57] amychurchwell commented on #460
The css styles are all in place for including a link inside the notification banner. Just needs to be included as an option in the JS:
https://github.com/mozilla/protocol/blob/master/src/assets/js/protocol/protocol-notification-bar.js#L37-L41

[2019-08-12 17:05] craigcook commented on #382
Jotting some notes as I've been working on refactoring this component...

I'm making it take an inline image as opposed to a CSS background on a pseudo-element, so that should simplify usage. The only problem I've run into with accepting arbitrary sizes is that it can result in uneven heights across a row. I think that's probably best avoided by just using the same height images within a given set

[2019-08-13 17:34] ejregithub commented on #447
@stephaniehobson - are you going to be resuming work on this issue (should I leave it in the Q3 sprint)?

[2019-08-14 17:30] stephaniehobson commented on #447
I talked to @craigcook and he's going to be doing implementation work.

[2019-08-15 22:01] wboucherfischer opened #462 "Design/Develop Offer Component"
The plan component is a new component that allows a comparison for up to 3 different tiers of subscription services/plans to be compared.

See:
https://www.huffpost.com/subscribe?ncid=huffpost_globaldesk_ct6htebthyu#offer-module__offers
https://products.office.com/en-us/compare-all-microsoft-office-products?&rtc=1&activetab=tab%3aprimaryr2

Requirements would be:
Title of Plan
Cost
Features of the

[2019-08-19 23:50] stephaniehobson opened #465 "New Component: Inline List"
Here is the spec:

![list-hor](https://user-images.githubusercontent.com/854701/63306897-4bdfeb80-c2a1-11e9-9f01-84d772370a9b.png)

Going to be used on the new /firefox, browsers and products pages.

Probably best as a utility class.

[2019-08-20 00:03] stephaniehobson commented on #457
I agree, let's have a single source of truth for this. Have we seen this kind of variety in designs? I think I've only seen 2px so far.

[2019-08-20 00:06] stephaniehobson commented on #459
Could [ARIA live regions](https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/ARIA_Live_Regions) be useful here? (I have not actually looked at the code so use your best judgement).

[2019-08-20 00:12] Errolyn commented on #457
The shadow boxes use 6px

[2019-08-20 00:15] stephaniehobson commented on #382
Do we have existing image-on-the-side implementations we need to accommodate or are you suggesting we drop support for those?

[2019-08-20 00:16] stephaniehobson commented on #382
Also... do we even need a component for "an image with some text underneath it"? What's different about that than an `<img>` followed by a `<p>` tag?

[2019-08-20 07:24] alexgibson commented on #382
I have no strong feelings on updating vs deprecating this component. If we were to deprecate it then we should flesh out the atomic level & layout changes needed to replace it, as it’s currently used in quite a few places. I do think this type of element appears throughout our pages enough to warrant having something that helps creating this in a low effort and consistent way.

[2019-08-20 20:19] dzingeek opened #468 "Fx Text link CTAs should use the Metropolis Font"
All Firefox text link CTAs should use the Metroplis font.

**See screenshot for reference**
![Screen Shot 2019-08-20 at 1 17 49 PM](https://user-images.githubusercontent.com/3740746/63381187-0842bb80-c34d-11e9-83e3-b96e56f162d2.png)

[2019-08-20 21:03] stephaniehobson commented on #468
@dzingeek And buttons too, right?

[2019-08-20 23:16] dzingeek commented on #468
yes and buttons too. we will add another github issue for buttons we just haven't done it yet. but that issue will have more than just the font outlined.

[2019-08-22 21:20] craigcook commented on #457
Firefox buttons have 4px corners.

This isn't dev-ready, it requires a design decision to set standards for corner roundness so we can commit them to tokens.

[2019-08-23 09:31] alexgibson opened #471 "New Component: Sub Navigation"
The new `/firefox/enterprise/` component being built in https://github.com/mozilla/bedrock/issues/7491 features a sub navigation component.

![image](https://user-images.githubusercontent.com/400117/63582160-74f9c800-c590-11e9-89a6-9df7ea5e1f00.png)

So far it is a unique snowflake and is pretty much a simple horizontal list that sits under the main navigation component. The component is static (n

[2019-08-23 15:15] stephaniehobson commented on #462
I see the two boxes that combine into one as a component. That component can then have anything in it. In this case it has a headline, download button atom, and a new "feature list" (or something like that) atom which is the centered list content.

[2019-08-23 16:39] stephaniehobson opened #472 "New Component: Download Menu"
Or possibly just a menu. Or maybe a collapsed list of links. Need to think out the semantics. Anyway here's the design:

<img width="544" alt="Screen Shot 2019-08-16 at 2 07 12 PM" src="https://user-images.githubusercontent.com/854701/63608454-ebdf9280-c589-11e9-88ce-3bf15899ea77.png">

[2019-08-23 16:42] stephaniehobson commented on #472
Starting point: https://inclusive-components.design/menus-menu-buttons/

[2019-08-23 16:43] stephaniehobson commented on #472
Some requirements:
- top level is not a clickable link
- all items display when open (no overflow:scroll!)

[2019-08-23 16:48] stephaniehobson commented on #472
There's a good chance that the details JS can handle the hide/show functionality.

[2019-08-23 20:06] craigcook commented on #457
There are also a bunch of 16px corners on accounts.firefox.com

[2019-08-23 20:45] stephaniehobson commented on #472
Not sure what to call this thing. Menu list? Collapsed list?

[2019-08-27 03:59] ejregithub opened #475 "Specify Lifecycle Components in Protocol"
## Description

We're building the first Lifecycle page and need a designer to specify the components in Protocol

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] This is an example of a success criteria. Use a checklist!
- [ ] This is an example of a success criteria.

#### :heavy_exclamation_mark: Risks :heavy_exclamation_mark:
- [ ] This is an example of a risk. Use a checklist!

[2019-08-27 04:02] ejregithub opened #476 "Specify Lockwise Components in Protocol"
## Description

We're building the Lockwise product page and need a designer to specify the components in Protocol

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] This is an example of a success criteria. Use a checklist!
- [ ] This is an example of a success criteria.

#### :heavy_exclamation_mark: Risks :heavy_exclamation_mark:
- [ ] This is an example of a risk. Use a checklist!

[2019-08-27 17:22] #385 closed

[2019-08-28 17:00] ejregithub opened #477 "Specify Protocol components for the Browser Comparison hub page(s)"
## Description

Specify Protocol components for the Browser Comparison hub page(s)

***Tasks***
- [ ] Designer to work w. Dev to specify Protocol components for use in these pages

[2019-08-28 20:10] #232 closed

[2019-08-29 12:55] johngruen commented on #472
Kinda like collapsed menu

[2019-08-29 19:06] #468 closed

[2019-09-02 09:01] Patil2099 commented on #445
@amychurchwell Can I work on this issue?

[2019-09-03 17:15] amychurchwell commented on #445
@Patil2099 Of course! Let us know if you have any questions.

[2019-09-04 15:57] #444 closed

[2019-09-04 16:45] stephaniehobson commented on #472
Aren't all menus collapsed?

[2019-09-05 06:23] #465 closed

[2019-09-05 23:29] wboucherfischer commented on #462
Draft of competitive analysis @johngruen @dzingeek
https://docs.google.com/presentation/d/1wXJMmM6EVVNFChkKYfcsS3mCjgaqB7uOb9jOypX5fN8/edit?usp=sharing

I'm working on designs now.

[2019-09-06 18:18] stephaniehobson opened #478 "Update details component to respond to esc key"
If details are expanded and focus is inside the details (or on the summary) the escape key should collapse the details and put focus on the summary.

[2019-09-09 10:43] Patil2099 commented on #445
Hey @amychurchwell !
I initially thought that I could make a change in ```src/data/colors.json``` where I could group together all different colors in a different array inside the main object and then iterate over this new array and add display : flex to get the result we desire.

Then I realized that colors.json is actually being dynamically produced by node_modules from mozilla-protocols.

So I

[2019-09-09 18:09] stephaniehobson opened #479 "Update @mozilla-protocol/assets to 3.0.0"
This will:

- Bring in the new logos for Browser, Beta, Dev Ed, and Nightly.
- Bring in logos for Monitor, Send, and Lockwise.
- Bring in the new icon designs added in https://github.com/mozilla/protocol-assets/pull/22
  - Note: this is a breaking change as:
    -  the `ui` folder is removed and those assets moved one level up
    - the social icons are now in `icons/social`
    - the Focus logo h

[2019-09-11 23:50] stephaniehobson opened #481 "Bold menu titles"
Jennifer requested we make the menu titles bold.

[2019-09-11 23:58] stephaniehobson opened #483 "Add Firefox variant of navigation"
We're creating Firefox specific navigation for mozilla.org.

Right now we will have to over-ride the default styles for the:
- logo
- text colours

It would be nice if the system supported these by default.

[2019-09-12 00:00] stephaniehobson commented on #483
First we will have to resolve https://github.com/mozilla/protocol-assets/issues/27

[2019-09-16 14:50] #379 closed

[2019-09-16 17:25] alexgibson opened #486 "Download buttons should be inline-block instead of block level?"
## Description

Download button containers are block level, meaning they take up 100% of their parent's container width. They should probably be inline-block?

### Steps to reproduce

1. Visit https://protocol.mozilla.org/patterns/molecules/download-button.html

### Expected result

![image](https://user-images.githubusercontent.com/400117/64979236-36191280-d8af-11e9-83e6-84af9a60968e.png)

### Ac

[2019-09-17 12:47] alexgibson commented on #471
Since the menu titles turned bold in https://github.com/mozilla/protocol/issues/481, the sub navigation links on the /enterprise page feel inconsistent:

![image](https://user-images.githubusercontent.com/400117/65042740-66b18880-d951-11e9-8ae7-0d6a6e080ac1.png)

We should probably turn the sub navigation links bold to match, but then the word "Enterprise" is already bold. We may need to rethink s

[2019-09-17 15:39] craigcook opened #487 "Improve security on protocol.mozilla.org website"
The Protocol website has a pretty minimal setup, and since it's served from a *.mozilla.org domain we should follow best practices and tighten up the security.

Currently an F on Observatory, we should try to get that up to a passing grade: https://observatory.mozilla.org/analyze/protocol.mozilla.org

For starters we need a CSP and there are some headers we should set.

Security folks have a check

[2019-09-17 15:49] psiinon commented on #487
Let me know if you have any questions / concerns etc

[2019-09-17 21:16] hoosteeno commented on #475
I'm pulling this from the present sprint until it's clearer how Protocol workflow/priorities will work.

[2019-09-17 21:17] hoosteeno commented on #476
Pulling this out of the present sprint until it's clearer how Protocol priorities and workflow will work.

[2019-09-18 15:00] stephaniehobson commented on #471
Bold menu and not-bold submenu is consistent with what I'm seeing on the Privacy wireframes so I don't think we need to rush a fix for this.

It would be nice to have this component flushed out though.

[2019-09-20 17:08] amychurchwell opened #489 "Rename `mzp-c-box-emphasis` to `mzp-c-emphasis-box`"
### Description

It is a little confusing that the [emphasis box component](https://protocol.mozilla.org/patterns/molecules/emphasis-box.html) uses the class name `mzp-c-box-emphasis`, we should change this to `mzp-c-emphasis-box` for consistency.

[2019-09-20 18:21] stephaniehobson opened #490 "Component Change Request: cta-link"
### Please describe the use case(s) for this component

Styles links to stand out as a "call to action".

### Please describe the change you wish to see

Right now they are Metropolis with a thick bottom border. We are trying to standardize link styles to be the regular text underline.

### Please describe why these changes need to be made

Standardization! Also, we don't want icons in CTAs to be

[2019-09-23 17:56] craigcook commented on #449
`$color-off-black` is now `$color-ink-80`

[2019-09-24 16:51] alexgibson commented on #471
Here's how the sub-nav looks for the new privacy pages. At this time, I may at least update the sub-nav on /enterprise to conform with what's here:

<img width="655" alt="Screenshot 2019-09-24 at 17 49 51" src="https://user-images.githubusercontent.com/400117/65532528-de545a00-def3-11e9-888e-f8c590e045d3.png">

[2019-09-24 18:26] #479 closed

[2019-09-25 22:09] stephaniehobson opened #495 "Footer UI icons too small"
In #480 the UI icons changed size. I mostly adjusted the size of the icons but I missed the footer ones.

Current:

<img width="417" alt="Screen Shot 2019-09-25 at 14 41 29" src="https://user-images.githubusercontent.com/854701/65643327-54b19480-dfa6-11e9-8285-a8019f5d38df.png">

Expected:

<img width="424" alt="Screen Shot 2019-09-25 at 15 07 22" src="https://user-images.githubusercontent.com/854

[2019-09-27 12:52] alexgibson commented on #471
With the privacy pages being launched soon, this new sub component will now exist on three separate pages. Three times is a patern, as they say.

I think this should now be made into a component.

[2019-09-27 20:05] rajneeshkumar146 commented on #489
Hi @amychurchwell,  I want to claim it

[2019-09-30 20:55] craigcook opened #499 "Component Change Request - Emphasis Box"
### Please describe the use case(s) for this component

To call out or emphasize a primary CTA. Can be used to break up a page to highlight important content, for example "Download Firefox" or "Sign Up for a Firefox Account". It can house an FxA signup form.

An emphasis box is not a card. It's not clickable, it's a container for other content. Use sparingly to emphasize important content. If ever

[2019-10-01 01:28] justinkropp commented on #499
This is another external example of the behavior of an emphasis box.

<img width="1471" alt="Screen Shot 2019-09-30 at 9 25 05 PM" src="https://user-images.githubusercontent.com/1461798/65927823-465de100-e3c9-11e9-968f-114f91476068.png">

[2019-10-01 02:17] craigcook commented on #499
That's very similar to our "Compact Callout," which doesn't currently reside in a box, it's a full-width section: https://protocol.mozilla.org/demos/call-out-compact.html

[2019-10-02 17:14] craigcook commented on #499
https://www.mozilla.org/firefox/installer-help/

![image](https://user-images.githubusercontent.com/205591/66065896-3fd08600-e4fd-11e9-9b50-134494a5eb2d.png)

This is an emphasis box used for a secondary CTA that just needs a bit more oomph so it isn't overlooked (this is also a super bare-bones page; there could be other ways to apply oomph but throwing it in an emphasis box was easy).

[2019-10-03 04:04] RyanWils commented on #486
Hi I am fairly new to the open source community and this looks like a good bug to start with.
If it is okay with you, I would like to work on this bug.

[2019-10-03 17:50] olsenme commented on #460
I'd be willing to take on this issue if not assigned already

[2019-10-03 17:54] stephaniehobson commented on #499
There's also one on the [new /firefox homepage](https://www-demo4.allizom.org/en-US/firefox/):

<img width="1213" alt="Screen Shot 2019-10-03 at 10 52 55" src="https://user-images.githubusercontent.com/854701/66151360-00249f80-e5cc-11e9-9ab6-3f8b9a88e56d.png">

This might be an example of a dark theme?

[2019-10-03 18:15] amychurchwell commented on #460
Hi @olsenme! Feel free to pick this up.

[2019-10-03 19:42] RyanWils opened #501 "Create a Local Instance of Protocol Error"
Hi, I am on a **Windows environment**

When I try to Npm Start, LintJS gives me an error
Error: Expected linebreaks to be 'LF' but found 'CRLF'  linebreak-style
![image](https://user-images.githubusercontent.com/49354833/66158065-1eea5c80-e5f3-11e9-8454-409ae6561e1a.png)

### Steps to reproduce
I have followed the instructions on Github and the Documentation, both seem to produce the same error

!

[2019-10-03 20:06] Errolyn commented on #501
Thanks for reporting! Could you let us know what version of Node.js you have installed?

[2019-10-03 21:00] olsenme commented on #460
sure do I need to get assigned?

[2019-10-03 23:00] RyanWils commented on #501
I have a fairly old version of Node.js, my version is v10.7.0.
I will try to update my Node.js to see if that's the issue.

[2019-10-04 21:03] amychurchwell commented on #460
@olsenme not technically as a contributor, but I can go ahead and put your name on it. 🙂

[2019-10-06 06:06] olsenme commented on #460
Thanks @amychurchwell  ok to go ahead and fork? The only I reason I asked to be assigned was because I noticed there were alot of other mozilla projects that had multiple comments, and it was hard to tell if someone was working on them or not. Thanks so much.

[2019-10-07 14:46] amychurchwell commented on #460
@olsenme yes, feel free to pick this up. 🙂

[2019-10-07 23:34] stephaniehobson opened #503 "Menu List includes wrong font in themed ctas."
This should be the `mzp-t-firefox` theme class:

https://github.com/mozilla/protocol/blob/5def296852f02621879f5b2a2d281a5ec9a8524a/src/assets/sass/protocol/components/_menu-list.scss#L15

[2019-10-08 19:17] craigcook commented on #457
We've settled on the follow values to start: 2px, 4px, 8px, and 16px.

If at some point we find legit use cases for more in-between values like 6px or 12px etc, we can always expand the set.

[2019-10-08 20:09] Errolyn commented on #457
Should we change the emphasis box to one of the standard sized then and should it be 4px or 8px if we decide to go that route? it is using 6px right now.

[2019-10-08 20:39] craigcook commented on #457
Yeah we should update the emphasis box once the tokens land (I'll have a PR for that shortly). I think it'll be 8px and 16px will be used very rarely.

We've been hashing out updates to emphasis box over in #499

[2019-10-09 00:17] #490 closed

[2019-10-09 04:05] Errolyn opened #504 "Add subheader to hero component"
### Please describe the use case(s) for this component

Our current hero doesn't allow for both a replaceable h1 (with a logo image) and a h2 sub-header. I have updated the macro in bedrock so we should add an optional sub-header component to our protocol hero to keep things inline.

[2019-10-09 16:48] dzingeek opened #505 "Content Layout: Adding a third size (S, MD, LG)"
Right now we only have two sizes for content layout 736px wide and 1312px wide. This issue is there are times when we need a size in-between to make text areas more legible.

This text is too long which makes it harder to read/scan
![Screen Shot 2019-10-09 at 9 43 46 AM](https://user-images.githubusercontent.com/3740746/66502042-63557c80-ea79-11e9-9077-cbe471367d1e.png)

I am proposing we have 3 s

[2019-10-09 21:19] olsenme commented on #460
@amychurchwell  I'm sorry it's taken me a while to get to this. I saw the documentation about pushing to demo and master, but am I just forking and creating my own branch to merge into the repo for this?

[2019-10-09 21:41] amychurchwell commented on #460
hi @olsenme! as a contributor, you don't need to worry about pushing to production or creating demos.

To contribute to github repos (like this one) you will have to:
1. create a fork.
2. create a new branch and push desired changes to that branch.
3. open a pull request in this repo from that forked branch.

see: https://guides.github.com/activities/forking/

[2019-10-10 01:37] amychurchwell opened #506 "Add Component: Data Table"
While [porting the transparency report pages over to protocol](https://github.com/mozilla/bedrock/issues/7530), I noted that there are use-cases throughout mozorg for data tables and I believe this should be a component.

`.mzp-c-data-table`

<img width="1080" alt="Screen Shot 2019-10-09 at 6 35 53 PM" src="https://user-images.githubusercontent.com/30483988/66532273-accab980-eac3-11e9-8964-3a1b703

[2019-10-10 01:38] amychurchwell commented on #506
Once I complete this bedrock task I'll open a PR to move the data table code into protocol.

[2019-10-10 02:01] olsenme commented on #460
ok thanks so much @amychurchwell  just wanted to make sure to follow flow. Sorry if that seemed an insignificant question

[2019-10-10 07:36] alexgibson commented on #506
Wouldn't this already be covered by https://protocol.mozilla.org/patterns/atoms/typographic.html#data-tables ?

[2019-10-10 14:11] thisisabhinay commented on #486
@RyanWils What's the status update? If you are not working on it then I would like to continue working on this one.

[2019-10-10 15:44] amychurchwell commented on #460
@olsenme no insignificant questions here! ask away! 🙂

[2019-10-10 15:45] amychurchwell commented on #506
@alexgibson 🤦‍♀ YES. *hastily closes issue*

[2019-10-10 15:56] amychurchwell commented on #489
@thisisabhinay as a courtesy, we should check in with the contributor who was originally interested. If they are not, you are welcome to pick this up.

@rajneeshkumar146 - are you still interested in working on this issue?

[2019-10-11 15:31] RyanWils commented on #486
Feel free to work on it, I am having issues with the launching of the local instance.
I have opened a ticket about my issue, but they have not got back to me yet.
Issue - #501

[2019-10-15 21:36] justinkropp commented on #456
After discussion with @craigcook @dzingeek and Stephen Horlander, a proposed update to the box-shadow property is as follows.

Four proposed _elevations_:

`.elevation-00 {
  border: 1px solid rgba(21,20,26,0.24);
}

.elevation-01 {
  box-shadow: 0 8px 12px  1px rgba(34,0,51,0.04),
              0 3px 16px  2px rgba(7,48,114,0.12),
              0 5px 10px -3px rgba(14,13,26,0.12);
}

.elevation-0

[2019-10-15 21:58] Errolyn commented on #501
Hi @RyanWils I think I have figured out a temp solution. I want to check with my team before deciding on how we are going to handle this in a more permanent manner.

If you add
[code]

to `protocol\gulpfile.js\.eslintrc.js` and `protocol\.eslintrc.js` files you should be able to run the server. NOTE: You will need to be running Node version: v10.16.3

[2019-10-15 22:06] Errolyn commented on #501
@craigcook @amychurchwell  do you think we need to continue checking for linebreak styles, could it cause an issue if we don't? If not I can just add that rule to files and call it good?

[2019-10-16 08:15] alexgibson commented on #501
@RyanWils so I believe we default to 'LF' style line breaks because that's the standard for Unix/Linux systems, and is fairly common default for a lot of open source GitHub projects. Still, if you're using Windows I think you can configure your code editor to use LF instead of CRLF (which is the default on Windows).

In the root of this project, there's an [`.editorconfig`](https://github.com/mozi

[2019-10-16 21:16] #457 closed

[2019-10-17 06:24] thisisabhinay commented on #505
@dzingeek I would like to work on it

[2019-10-18 18:38] dzingeek commented on #430
Here are the visual specs
![input-field-specs](https://user-images.githubusercontent.com/3740746/67119316-c0e57980-f19b-11e9-91c0-6f941f8c3e6d.png)

[2019-10-18 18:57] dzingeek opened #508 "Create a Form component [forms]"
We need flexible but consistent forms on our website properties.

These specs are based off of the input fields issue https://github.com/mozilla/protocol/issues/430

Attached are specs + examples of different form types build from all the same atoms
![form-specs](https://user-images.githubusercontent.com/3740746/67120575-6dc0f600-f19e-11e9-848c-fa2c7e5a9462.png)

![form-examples](https://user-imag

[2019-10-18 19:00] dzingeek commented on #508
link to box shadow issue https://github.com/mozilla/protocol/issues/456#issue-478055351

[2019-10-18 21:27] stephaniehobson commented on #292
I'm going to call this done in #479

[2019-10-18 21:27] #292 closed

[2019-10-21 23:37] stephaniehobson opened #509 "Update to protocol-assets 3.0.1"
It's available we should use it ;)

[2019-10-22 21:21] RyanWils commented on #495
Hi Stephanie,
I see that you self-assigned this task. What is the update on this issue? If your not working on this issue, I would like to continue working on it.

[2019-10-22 21:38] stephaniehobson commented on #495
Hi Ryan, I'm already working on it. Thanks.

[2019-10-22 21:58] RyanWils commented on #495
Okay, thanks. Was just checking in to see if I could lighten your load

[2019-10-22 23:02] stephaniehobson opened #511 "Add Zap component"
### Please describe the use case(s) for this component

The zap is part of our brand identity and a way to emphasis text.

### Please provide any designs or previous implementations of the proposed component

<img width="200" alt="Screen Shot 2019-10-22 at 15 58 54" src="https://user-images.githubusercontent.com/854701/67341576-e13b6e00-f4e4-11e9-95b2-dbabe848a921.png">

<img width="240" alt="Scre

[2019-10-23 20:13] #509 closed

[2019-10-24 14:08] Patil2099 commented on #489
@amychurchwell Can I work on this issue?

[2019-10-24 16:03] amychurchwell commented on #489
Hi all, I am going to close this bug because I no longer think this is worth creating a breaking change over. 🙂 thank you all for your interest in helping us with this issue.

[2019-10-24 16:03] #489 closed

[2019-10-24 17:00] amychurchwell commented on #460
@olsenme are you still working on this issue?

[2019-10-24 21:00] stephaniehobson commented on #508
I was working on these styles and tried to test the form I was working on as if it was a newsletter form... and it's not. And I was reminded of: https://github.com/mozilla/protocol/issues/334

It might be a good time to add an icon or something to the spec. To try to give a visual distinction between newsletter and FxA sign-up.

[2019-10-26 18:54] olsenme commented on #460
@amychurchwell  I am so sorry. I've been bogged down with interviews. I should have available time this week to get it done.

[2019-10-26 20:06] amychurchwell commented on #460
@olsenme no rush! just checking in.

[2019-10-28 16:25] stephaniehobson commented on #508
I've gotten started on this. I could use some direction on error message styling:

<img width="487" alt="Screen Shot 2019-10-28 at 09 25 14" src="https://user-images.githubusercontent.com/854701/67696919-ebd28900-f964-11e9-8e26-5a3f7b30641e.png">

[2019-10-28 17:28] stephaniehobson commented on #505
@thisisabhinay and @craigcook I've been talking about this issue with @dzingeek and I think it would be best if I took it over since I have a clear idea of what she wants and I can use some work I've already done as a reference.

[2019-10-28 20:39] stephaniehobson commented on #489
Oh oops, I merged the open PR 😅

[2019-10-28 20:45] amychurchwell commented on #489
@stephaniehobson no worries! should we make an issue to rename in bedrock?

[2019-10-28 21:09] stephaniehobson commented on #489
Naw, I think it'll be covered by the "Upgrade to Protocol 10" issue whenever that gets filed.

[2019-10-28 22:39] stephaniehobson opened #515 "Update defaults for mzp-t-dark"
In our links file we make links in `mzp-t-dark` components white. But we don't change the default text colour or the background colour anywhere.

This means that the theme class cannot be used to alter the theme of components by itself and can only be used with components which support it.

In bedrock when we use the dark theme we have to declare styles like:
[code]

And in our IE fallback sheet w

[2019-10-28 22:52] stephaniehobson commented on #515
A survey of bedrock suggests this will break more than a few pages:

- firefox/privacy/products
- welcome
- developer/firstrun
- firefox/concerts
- firefox

It feels like the right thing to do to set a background colour when the foreground colour is changed. Is it worth the pain?

[2019-10-28 22:53] stephaniehobson commented on #515
Another option would be to not define the link colour in the links file and require it to be declared specifically on supporting components.

That will break things in different ways. Ways that would be much faster/simpler to fix than applying a background colour by default.

[2019-10-28 23:12] stephaniehobson commented on #515
A Slack channel conversation on this turned up a vote for removing the default link change.

[2019-10-29 17:05] dzingeek commented on #508
@stephaniehobson thanks for flagging this I totally forgot about this type of error message. See attached specs, let me know if you have any other questions or run into an issues.

![Screen Shot 2019-10-29 at 10 00 02 AM](https://user-images.githubusercontent.com/3740746/67790813-9f09b380-fa33-11e9-8fa7-67552a7c5d1b.png)

[2019-10-29 21:03] dzingeek commented on #508
Since this component is built from a series of atoms here are all github issues for those atoms. Specs for some of those atoms are still being worked on and will be updated shortly.

[input field](https://github.com/mozilla/protocol/issues/430)
[radio button + check box](https://github.com/mozilla/protocol/issues/439)
[button](https://github.com/mozilla/protocol/issues/429)
[dropdown](https://gith

[2019-10-29 22:22] #511 closed

[2019-10-29 22:49] dzingeek commented on #435
updated designs (based off of input field designs) + specs
![dropdown-menu](https://user-images.githubusercontent.com/3740746/67815209-8b764100-fa63-11e9-91fc-f5fc78874f0c.png)
![dropdown-menu-specs](https://user-images.githubusercontent.com/3740746/67815211-8c0ed780-fa63-11e9-9a0c-54506fde2de8.png)

[2019-10-29 22:50] dzingeek commented on #439
Update designs (based off of input field designs) and specs

![radio-button-specs](https://user-images.githubusercontent.com/3740746/67815274-bb254900-fa63-11e9-9c0a-710ffb298249.png)

![radio-buttons](https://user-images.githubusercontent.com/3740746/67815275-bbbddf80-fa63-11e9-9411-9a157ee34690.png)

[2019-10-29 22:51] dzingeek commented on #439
Also adding the check boxes

![checkbox](https://user-images.githubusercontent.com/3740746/67815322-dee88f00-fa63-11e9-8e87-a970f64e8635.png)
![checkbox-specs](https://user-images.githubusercontent.com/3740746/67815326-e019bc00-fa63-11e9-923a-4a12d20ffaec.png)

[2019-10-30 18:17] #503 closed

[2019-10-31 14:51] justinkropp commented on #429
@craigcook The button styles have been updated to reflect consensus between myself, @dzingeek and Stephen Horlander. I'll update the table above, but below are the new visual specs. Dark theme is forthcoming.

----

## Primary
![Buttons - Primary](https://user-images.githubusercontent.com/1461798/67957675-589b8c80-fbcc-11e9-8944-49fa66fd1c19.png)

## Secondary
![Buttons - Secondary](https://user-i

[2019-10-31 18:43] dzingeek commented on #430
@stephaniehobson here are the icons for the input fields (check, alert, down arrow...)
[input-field-icons.zip](https://github.com/mozilla/protocol/files/3795333/input-field-icons.zip)

[2019-11-04 19:51] justinkropp commented on #413
@stephaniehobson I'm working with @dzingeek on this to refine the content-widths and column structure of our grids. The breakpoints aren't changing, but there will be some updates to the grid organization. I'll post updates and visual assets here as soon as we get them finalized.

[2019-11-04 23:04] dzingeek commented on #505
@stephaniehobson I made two small tweaks on the sizes based on the fact that I put the wrong ones in there the first time ;)

[2019-11-05 07:12] olsenme commented on #460
@amychurchwell  I'm so sorry. I've been down with pneumonia, but wanted to let you know I haven't forgotten and thank you for your patience with me

[2019-11-05 21:01] craigcook commented on #456
Note that some of the color values in https://github.com/mozilla/protocol/issues/456#issuecomment-542415196 don't map to current tokens. I think we're going to use a ink for shadows, or we might iterate on it further but we should at least stick to tokens from the brand palette.

[2019-11-06 11:01] alexgibson opened #519 "Investigate an alternate image replacement technique"
## Description

See: https://github.com/mozilla/bedrock/issues/8084

Safari has issues with Protocols current `image-replaced` mixin under certain circumstances.

Perhaps we should investigate utilizing a new method for this technique. This article has some options, but there may well be others: https://css-tricks.com/css-image-replacement/

[2019-11-06 13:54] alexgibson opened #520 "Using the Zap component throws an error"
## Description

As reported by @sgarrity, the new "Zap" scss lives in the `/components/` folder, but trying to load it like other components throws an error, since it's actually available via a mixin and has a different relative path.

### Steps to reproduce

Try and import the Zap like other componentsusing e.g.

[code]

### Expected result

The component CSS should load.

### Actual result

Sass

[2019-11-06 14:11] sgarrity commented on #520
For a bit of further context here, I'm looking to use the Zaps on the new browser comparison page (https://github.com/mozilla/bedrock/issues/7575).

I started by trying to include the component styles with the `@import '../../protocol/css/components/zap';` Alex mentioned above. I assumed this was way to include the styles based on similar components like `hero`.

I was then using this method of ca

[2019-11-06 14:28] alexgibson commented on #520
Ah ok so that makes sense why this is in /components/, There's already a separate mixin. This may just be a case of fixing the import path, but I'll defer to @stephaniehobson here.

[2019-11-06 17:39] #520 closed

[2019-11-18 21:51] amychurchwell opened #523 "Fix typo in 'Emphasis Box' docs"
## Description

`mzp-c-box-emphasis` should be changed to `mzp-c-emphasis-box` on https://protocol.mozilla.org/patterns/molecules/emphasis-box.html

[2019-11-19 19:54] shorlander commented on #456
Updated to use the right brand colors.

[code]

[2019-11-20 21:09] dzingeek commented on #430
**Here is an update to the error state**
![input field specs](https://user-images.githubusercontent.com/3740746/69278357-016b5500-0b97-11ea-86f1-b6aafbc67b49.png)

[2019-11-20 21:38] dzingeek commented on #430
Just realized I didn't spec out the box shadow

[**.elevation-02** {](https://github.com/mozilla/protocol/issues/456)
  box-shadow: 0 16px 24px  2px hsla(261, 50%, 13%, .04),
              0 6px  32px  4px hsla(220, 79%, 17%, .12),
              0 8px  12px -5px hsla(261, 50%, 13%, .12);

[2019-11-20 22:30] dzingeek commented on #439
here are updated specs that include an error state

![checkbox-specs](https://user-images.githubusercontent.com/3740746/69283950-4ba60380-0ba2-11ea-97e6-c40df1853ac1.png)

[2019-11-20 22:55] craigcook commented on #430
That shadow looks like this:
![image](https://user-images.githubusercontent.com/205591/69284487-970ce180-0ba3-11ea-8f80-7f41e5604bc5.png)

Is this for the little floating error messages? If so, that's a pretty heavy shadow for such a small element. They might look better with the smaller shadow (assigned the token `$box-shadow-sm` in https://github.com/mozilla/protocol-tokens/pull/66) and even tha

[2019-11-20 23:59] dzingeek commented on #430
I thought that was the small shadow...nice catch @craigcook, yeah that is too much.. this might be something we can play around with in development to find the right fit then document it.

[2019-11-21 20:35] stephaniehobson opened #524 "Footer: when space available and number of sections divisible by 3, wrap to 3 per line"
When there are 3 or 6 footer-sections in a footer we should have 3 sections per line at the large mq. Right now there are 2 and a lot of empty space.

A variation of this can be used:
[code]

[2019-11-22 20:52] amychurchwell commented on #460
@olsenme I am going to remove your assignment. You are still more than welcome to submit a PR for this.

[2019-11-26 23:30] amychurchwell opened #525 "[bug] Notification bar line height breaking container."
## Description

The [line-height](https://github.com/mozilla/protocol/blob/master/src/assets/sass/protocol/components/_notification-bar.scss#L30-L31) is knocking longer text out of it's container at certain screen sizes.

<img width="495" alt="Screen Shot 2019-11-26 at 3 23 52 PM" src="https://user-images.githubusercontent.com/30483988/69680793-d6827480-1060-11ea-9aea-6903e0ecf578.png">
<img width

[2019-11-27 07:54] tikhsuP commented on #523
So, is the typo needed to be fixed in  protocol/src/patterns/molecules/emphasis-box/medium-emphasis-box.hbs ?

[2019-11-27 08:01] tikhsuP commented on #523
Can you please guide me that this typo needs to be fixed in which document?
I have checked protocol/src/patterns/molecules/emphasis-box/medium-emphasis-box.hbs files under issues #489 and #502.

[2019-11-27 08:18] tikhsuP commented on #525
I am willing to work on this issue, please assign it to me.

[2019-12-02 16:06] amychurchwell commented on #525
@tikhsuP assigned! Thank you for your interest!

[2019-12-02 16:11] tikhsuP commented on #525
Thanks @amychurchwell
May I know the expected line height ?

[2019-12-02 16:38] amychurchwell commented on #525
@tikhsuP perhaps it is a case of only declaring line height at certain screen width? (media queries listed on the [Protocol tokens page](https://protocol.mozilla.org/fundamentals/tokens.html))
However, if you think 12px looks fine we can take a look in code review.

[2019-12-02 16:45] tikhsuP commented on #525
Thanks @amychurchwell , I understand that.
I have made a pull request, do tell me if any changes are needed. I am willing to learn and improve as much I can.

[2019-12-04 17:16] tikhsuP commented on #523
@amychurchwell, I am interested to work on this issue but I haven't been able to find the appropriate file to be corrected. However, I have investigated the creation of ### **Emphasis Box** page(#385) and the changes made to files  CHANGELOG.md [https://github.com/mozilla/protocol/blob/66955b8faa7c7811fd0636e141ebfe3c30d16300/CHANGELOG.md](url), _emphasis-box.scss [https://github.com/mozilla/proto

[2019-12-04 17:24] tikhsuP commented on #523
@amychurchwell, I am interested to work on this issue but I haven't been able to find the appropriate file to be corrected. However, I have investigated the creation of ### Emphasis Box page(#385) and the changes made to files mozilla/protocol/CHANGELOG.md,  protocol/src/assets/sass/protocol/components/_emphasis-box.scss  and  protocol/src/patterns/molecules/emphasis-box/medium-emphasis-box.hbs un

[2019-12-04 18:34] amychurchwell commented on #523
@tikhsuP Apologies! This issue is a dupe of #489, there is no change to be made. Thank you for your interest.

[2019-12-04 18:34] #523 closed

[2019-12-04 18:57] tikhsuP commented on #523
👍 No worries @amychurchwell
Thanks.

[2019-12-07 04:36] tikhsuP commented on #486
@alexgibson @amychurchwell, my above PR generates this result :
![Screenshot (262)](https://user-images.githubusercontent.com/42881874/70368996-83b68180-18d8-11ea-91a1-cd75d9a887fa.png)

Do I need to change the [Download Button (Secondary)](https://protocol.mozilla.org/patterns/molecules/download-button.html#download-button-secondary)  to this
![Screenshot (263)](https://user-images.githubusercont

[2019-12-09 05:13] tikhsuP commented on #525
@amychurchwell
I reviewed my PR #528 and it actually isn't a solution to this bug, apologies!
So, I have made another PR #530 and it works fine on my side.
Please review.

[2019-12-09 12:05] techieshark commented on #436
The Material UI [switch component page](https://material-ui.com/components/switches/) describes when to use a switch (in that system) by linking to [this article](https://uxplanet.org/checkbox-vs-toggle-switch-7fc6e83f10b8) which differentiates between a checkbox for selecting state and a switch for also immediate executing:

I guess the thinking is that humans are used to switching leading to imm

[2019-12-09 20:18] stephaniehobson commented on #436
Oh the immediate change vs change and submit makes the a11y recommendations I've seen make more sense.

They seem to favour a[ button instead of a checkbox](https://scottaohara.github.io/a11y_styled_form_controls/src/toggle-button-switch/) approach. Which does make more sense if it's triggering some script to be executed immediately.

The button approach also makes it kind of awkward to use in an

[2019-12-11 10:38] alexgibson commented on #436
Do we have a practical use-case on mozorg where a switch would make more sense as opposed to a checkbox or radio input? I’m struggling to find one.

[2019-12-14 01:17] craigcook commented on #456
Done in https://github.com/mozilla/protocol-tokens/commit/cc7448e0d5fafa202f02dc9f7b5db4aa1cb49039

[2019-12-14 01:17] #456 closed

[2019-12-16 18:59] wthayer opened #532 "Level-4 Heading Font Size too Large"
## Description

On the [Root Store Policy](https://www.mozilla.org/en-US/about/governance/policies/security-group/certs/policy/) page, the level-4 (e.g. 3.1.2.2) headings are much larger than the level 1-3 headings, making the page difficult to read.

### Steps to reproduce
Navigate to https://www.mozilla.org/en-US/about/governance/policies/security-group/certs/policy/ in Firefox

### Expected res

[2019-12-18 18:25] stephaniehobson commented on #505
A recent conversation with @dzingeek revealed that these might be changing. I'm going to take the dev ready tag off this until the grid stuff has been decided.

[2019-12-19 23:44] craigcook commented on #505
See https://github.com/mozilla/protocol-tokens/issues/73 for work on updating token values. I think in Protocol we would then map these to some theme classes for containers, something like:

[code]

[2020-01-02 19:44] tikhsuP commented on #525
@amychurchwell what is the status of this issue?
Is my PR of any help?

[2020-01-02 22:45] amychurchwell commented on #525
@tikhsuP Thank you for the pull request! We have been quite busy, but I will review it when I'm able. 👍

[2020-01-04 03:20] tikhsuP commented on #525
I understand @amychurchwell .
No worries.

[2020-01-06 23:50] hoosteeno commented on #475
Closing in favor of a better-articulated future card.

[2020-01-06 23:50] #475 closed

[2020-01-06 23:50] hoosteeno commented on #476
Closing in favor of a better-articulated future card.

[2020-01-06 23:50] #476 closed

[2020-01-08 20:18] dzingeek commented on #413
We have updated one breakpoint. **1056 is NOW 1024**

[2020-01-29 12:35] #452 closed

[2020-01-30 11:01] stevejalim commented on #460
I've had a swing at this, because it meets a need I have over on github.com/mdn/developer-portal

[2020-02-03 14:43] stevejalim opened #535 "Notification Bar's close trigger raises an error in IE11"
## Description

When the notification bar is used in a page, and when it features a 'Close' link, clicking that close link triggers an error message in IE11

<img width="447" alt="Screenshot 2020-02-03 at 14 39 05" src="https://user-images.githubusercontent.com/101457/73661982-f5216f00-4692-11ea-8961-265b4e31d9a2.png">

### Steps to reproduce

Visit https://protocol.mozilla.org/patterns/molecules/

[2020-02-03 14:44] stevejalim commented on #535
Sorry to bring IE11 pain do your door, it's a target browser for https://developer.mozilla.com, so that's how I came across the issue. Will let you know if/when I find a workaround

[2020-02-03 15:53] stevejalim commented on #535
This can be polyfilled around, so closing the ticket

https://developer.mozilla.org/en-US/docs/Web/API/ChildNode/remove#Polyfill

[2020-02-03 15:53] #535 closed

[2020-02-11 18:12] craigcook commented on #505
Comparison of old sizes to proposed new sizes: https://demo2--mozilla-protocol.netlify.com/demos/content-width.html
Demo page with a mix of different sized containers: https://demo2--mozilla-protocol.netlify.com/demos/content-width-prototype.html

[2020-02-11 20:35] mheubusch commented on #345
Current designs show 80 pixel units but there is not a corresponding token for this gutter.

[2020-02-11 20:53] mheubusch opened #536 "Vertical Rhythm"
Please use this template to request a new component.
If you're not sure whether a component already exists,
go ahead and file the issue here, and the team will triage appropriately.

Fill in as many sections as possible below.

### Please describe the use case(s) for this component

What does the component do? In what contexts is it used. Be as specific as possible.

### Please provide any designs

[2020-02-11 20:53] mheubusch commented on #536
@shorlander can you update the description?

[2020-02-11 21:17] justinkropp commented on #345
The proposed content-widths are as follows:

-     S = **432**
-     MD = **688**
-     LG = **928**
-     XL = **1152**

The number of columns can range anywhere from 1-column to 3-columns within these content widths. The space between columns for all sizes is 80px, except for the 688 content width, which gets a 64px width between columns.

**For reference:**

- ![768 Breakpoint + Content Width](

[2020-02-11 23:35] #486 closed

[2020-02-11 23:43] vibhuti019 commented on #460
Is this issue open?

[2020-02-12 00:12] craigcook commented on #460
There's already a pull request to address it (https://github.com/mozilla/protocol/pull/534), it's just waiting for review and the team has been busy. Sorry for the delay.

[2020-02-12 22:59] Errolyn opened #537 "Add an icon display page"
## Description

Add a page to protocol.mozilla.org which displays all icons from our protocol assets repo: https://github.com/mozilla/protocol-assets

This page should have:
- A description on how to use the images and the repo
- A link to the source
- An example of how to use the icons.
- All the icons (with names)
- Something clickable to copy the import the url for the image

[2020-02-14 15:13] mheubusch commented on #505
@dzingeek can you review craigcook's proposal and if approved, add the label ready for dev?

[2020-02-14 22:02] dzingeek commented on #505
@craigcook those look good to me, nice work!

[2020-02-18 18:41] amychurchwell opened #538 "Refactor notification bar 'close' function for IE support"
## Description

In #534 it was noted that the function to close the notification bar is not supported in IE.
`e.currentTarget.parentNode.remove()`, we should refactor this to `removeChild()`

[2020-02-18 19:42] craigcook opened #539 "Publish release notes on the doc site"
Protocol's current release notes consist of a CHANGELOG.md file in the root of the git repository. As the system is adopted by more teams/projects we'll need to start publicizing updates, especially for "major" releases that can require complex migration steps downstream (e.g. changing token values, renaming things, deprecating components, etc.). Making the release notes both easier to find and mo

[2020-02-18 20:06] #460 closed

[2020-02-18 20:57] mheubusch opened #540 "Update navigation menu hover state"
Update the navigation menu entry and prototype to reflect the new styling and hover state. https://protocol.mozilla.org/patterns/molecules/menu.html

What's changing?
Grey box over selectable item, instead of text underline.

And why
To reflect preferred styles

Add screenshots, mockups, code prototypes, etc. in this section.

In order to assess the risk of changes, we need to know where component

[2020-02-18 22:18] craigcook commented on #539
Some examples from other systems.

- Lightning: https://www.lightningdesignsystem.com/release-notes/
- Polaris: https://polaris.shopify.com/whats-new/whats-new
- Carbon: https://carbondesignsystem.com/updates/whats-new (Carbon also publishes their roadmap https://carbondesignsystem.com/updates/roadmap)
- USWDS: https://designsystem.digital.gov/about/releases/

[2020-02-19 09:11] alexgibson commented on #525
This bug is effecting: https://github.com/mozilla/bedrock/issues/7615

![image](https://user-images.githubusercontent.com/400117/74819144-dc05f880-52f7-11ea-9eaf-6f272ffef3aa.png)

[2020-02-19 09:44] alexgibson opened #541 "Notification bar link is missing color styling"
## Description

Links within the [notification bar component](https://protocol.mozilla.org/patterns/molecules/notification-bar.html) don't seem to have any specific color styling, so they inherit from whatever the parent has set (including `:hover` and `:visited` color styles). For example, when working on https://github.com/mozilla/bedrock/issues/7615 I'm seeing the following behavior:

### Steps

[2020-02-24 18:13] Errolyn commented on #537
working on this as part of my personal goals

[2020-02-24 23:37] dzingeek commented on #540
@craigcook  any ETA on when you might have a demo or two for us to review?

[2020-02-25 15:41] craigcook commented on #540
https://codepen.io/craigcook/pen/LYVxgyd?editors=1100

This is what I've got so far, still rough but gives us a starting point to discuss for further refinement.

[2020-02-25 22:39] Errolyn opened #543 "Identify and create icon sizing tokens for protocol assets"
We should have a standard set of sizes for our icons in the form of tokens.

Something like:
icon-xs
icon-sm
icon-md
icon-lg
icon-xl
icon-2x

## Tasks:
[ ] Identify icon sizes currently used
[ ] gain consensus on what sizing tokens we should have
[ ] create sizing tokens
[ ] add sizing tokens example page to protocol.mozilla.org with documentation.
[ ] update bedrock to use sizing tokens where pos

[2020-02-26 00:31] dzingeek opened #544 "Firefox Modular Navigation System (global)"
This is the beginning of creating a modular navigation system for all Firefox web properties.

**It should include:**
- main navigation with modular components (buttons, icons, links/labels, logos...)
- sub nav (when applicable) with modular components (labels/links, buttons, logos...)
- dropdown (when applicable) with modular components (labels/links, buttons, logos...)
- footer with modular comp

[2020-02-26 00:33] dzingeek commented on #471
This is now being handled by the new nav system linked in [this github issue](https://github.com/mozilla/protocol/issues/544)

[2020-02-26 00:35] dzingeek commented on #216
There is a modular nav system being worked on that may put this on hold? https://github.com/mozilla/protocol/issues/544

[2020-02-26 02:36] Errolyn opened #545 "Create a 404 page"
We do not have a designed 404 page for the site. Lets make one :D

[2020-02-26 02:40] #525 closed

[2020-02-26 10:12] alexgibson opened #546 "Running npm install introduced a diff in package-lock.json"
## Description

The package.lock.json file in the master branch is out of sync with the dependencies defined in package.json :/

### Steps to reproduce

1. git checkout master
2. npm install

### Expected result

After npm dependencies are installed, there should be no unstaged changes in package-lock.json

### Actual result

There are unstaged changes. This means the dependency tree is out of dat

[2020-02-26 10:14] alexgibson commented on #546
Closing, this is an error on my part (rebased the wrong branch!)

[2020-02-26 10:14] #546 closed

[2020-02-26 15:49] #541 closed

[2020-02-26 16:59] Errolyn opened #547 "Confirm that our font mixins are still working for us from a design perspective"
We have had a couple of requests recently to using font sizing outside of our font mixins using manual break points. We should confirm with design that the break points we have are still working for us and that we don't need to add/remove/change something. The latest page is the 404/500 pages needing some special font treatment.

[2020-02-26 17:20] alexgibson commented on #547
Possibly related issues:

- https://github.com/mozilla/protocol/issues/410
- https://github.com/mozilla/protocol/issues/417

[2020-03-02 16:33] alexgibson opened #549 "Notification bar should use box-sizing: border-box;"
## Description

Because the notification bar component has [default padding](https://github.com/mozilla/protocol/blob/master/src/assets/sass/protocol/components/_notification-bar.scss#L19) values, the notification container can break out of the viewport at sizes that specify a [min-width](https://github.com/mozilla/protocol/blob/master/src/assets/sass/protocol/components/_notification-bar.scss#L22

[2020-03-02 16:37] alexgibson commented on #549
Screenshot of bug when running bedrock locally:

![image](https://user-images.githubusercontent.com/400117/75696793-0b2b4b00-5ca4-11ea-984d-19a2dd64e8de.png)

[2020-03-03 23:06] stephaniehobson commented on #549
I think it would be a good idea to also remove the min-width declaration. It doesn't seem to be needed since the notifications always fill the available width (until they reach their max).

[2020-03-04 20:02] craigcook opened #550 "Add a border to the menu list component"
## Please describe the use case(s) for this component

The [menu list component](https://protocol.mozilla.org/patterns/molecules/menu-list.html) presents a dropdown list of links. Though it looks like a form `select` element, the nuanced difference is that a `select` submits an option through a form handler and a menu list just holds direct links to a URLs.

### Please describe the change you wish

[2020-03-05 11:07] alexgibson opened #551 "Menu List component could use a11y improvements"
## Description

The [menu list component](https://protocol.mozilla.org/patterns/molecules/menu-list.html) could benefit from some a11y improvements.

### Steps to reproduce

1. Visit https://protocol.mozilla.org/patterns/molecules/menu-list.html
2. Using the keyboard, `tab` so the menu list is focused.
3. Hit `enter` to open the menu.

### Expected result

1. If i hit `esc`, it should close the me

[2020-03-05 17:09] craigcook commented on #550
There's some ongoing discussion on whether this component should match the form select or look different. An argument in favor of matching is that users only care that "clicking this thing opens a dropdown of options" and don't necessarily distinguish a form dropdown from a menu. The counterargument is that that is a *bad* thing, and that they *should* be able to tell the distinguish them because

[2020-03-09 18:04] stephaniehobson commented on #551
See also #478

[2020-03-18 21:46] ejregithub opened #556 "Modify/create another hero component to feature a center image in the Welcome page template"
## Description

Request is to modify/create another hero component used in the Welcome page template to feature a center image

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] The component is available for use
- [ ] For the Sync browser welcome page, the component is used and the Sync image (TBD) is applied

[2020-03-19 03:28] #499 closed

[2020-03-19 18:09] #549 closed

[2020-03-22 19:21] tikhsuP commented on #545
@Errolyn
I would like to design it.
How is the 404 Page expected look?

### This is how the ERROR 404 Page at [https://protocol.mozilla.org/](https://protocol.mozilla.org/) looks like:

![Screenshot (21)](https://user-images.githubusercontent.com/42881874/77258305-d78a8200-6c9f-11ea-8f8b-179d33658f64.png)

### This is how it looks like at [https://www.mozilla.org/en-US/](https://www.mozilla.org/en

[2020-03-23 21:50] hoosteeno commented on #91
This is a duplicate of a more recent, more complete issue.

https://github.com/mozilla/bedrock/issues/8676

[2020-03-23 21:50] #91 closed

[2020-03-25 16:57] tikhsuP commented on #556
@ejregithub
@alexgibson
I am interested in knowing more about this issue.

[2020-03-26 00:17] stephaniehobson opened #557 "Modal close button is too small"
![Screen Shot 2020-03-25 at 17 17 34](https://user-images.githubusercontent.com/854701/77597575-8acfc280-6ebc-11ea-9b42-79b8a736d1a5.png)

[2020-03-26 03:38] tikhsuP commented on #557
@stephaniehobson
I worked on this issue and I found out that right now the background image is 16px in height and 16px in width.

 `.mzp-c-modal-button-close {
        @include background-size(16px 16px);`
}

in the file [src/assets/sass/protocol/components/_modal.scss](https://github.com/mozilla/protocol/blob/master/src/assets/sass/protocol/components/_modal.scss)

The issue can be resolved by in

[2020-03-26 16:33] #462 closed

[2020-03-27 06:44] tikhsuP opened #559 "Spacing in the Notification Bar"
## Description

There should be a WHITE SPACE between the text in PARAGRAPH tag and ANCHOR tag (CTA link) in the notification bar.

### Steps to reproduce

In the [Notification Bar](https://protocol.mozilla.org/patterns/molecules/notification-bar.html), we are given the demonstration of the notification bars.

Click on the OPEN NOTIFICATION button:

![Screenshot (28)](https://user-images.githubuse

[2020-04-01 12:22] alexgibson opened #560 "Implement sticky navigation feature"
### Please describe the use case(s) for this component

We have a request to make the navigation organism support an optional feature for sticky scrolling. This change comes out of a CRO experiment that is captured in the epic here: https://github.com/mozilla/bedrock/issues/8676

### Please describe the change you wish to see

Add an option to make the navigation component sticky, so that it remai

[2020-04-02 01:23] stephaniehobson commented on #429
@justinkropp Can you please let me know what font size the buttons should be using? When I measure it it's `15px` but making the font smaller in the CTAs felt odd and that doesn't match anything that's in our type scale. But when I use the standard 16px it looks odd too.

[2020-04-02 14:28] justinkropp commented on #429
@stephaniehobson Thanks for asking. The sizing is as follows (see attached for reference as well):

- sm = 12px
- md = 14px
- lg & xl = 16px

<img width="654" alt="Screen Shot 2020-04-02 at 10 21 58 AM" src="https://user-images.githubusercontent.com/1461798/78260985-a34b6880-74cc-11ea-9df8-1921694f59b9.png">

[2020-04-02 15:34] alexgibson commented on #560
@justinkropp WIP demo of the sticky navigation. I'd very much like to get your design / UX feedback at this stage before I finalize things further: https://demo2--mozilla-protocol.netlify.com/demos/navigation.html

Let me know if you would like to meet in person to discuss anything. Thanks!

[2020-04-02 15:49] justinkropp commented on #560
@alexgibson I think this feels great from an interaction standpoint(timing, animation speed, etc.). Rather than using a border-bottom, could we use a drop-shadow instead? Something like the following:

`box-shadow: 0 0px 5px 1px rgba(9,32,77,0.12);`

Screenshot below for reference:

<img width="1266" alt="Screen Shot 2020-04-02 at 11 47 11 AM" src="https://user-images.githubusercontent.com/1461798

[2020-04-03 09:23] alexgibson commented on #560
Pull request is now ready for code review: https://github.com/mozilla/protocol/pull/561

[2020-04-06 16:11] hoosteeno opened #563 "Figure out how to distribute theming"
Because we use Sass/SCSS mixins to render some of our brand-specific elements (font stack, type scale, color scheme) we need to determine a method for distributing themes in a way that projects can consume. This could be two separate NPM packages or it could be two bundles of mixins in the single package.

Figuring this out will take some tinkering and evaluation to choose the best approach.

Ther

[2020-04-09 22:59] craigcook opened #567 "Unpublish dead packages"
In the earliest days of Protocol we had separate packages for different token categories, but soon consolidated to one package for all tokens. Those old packages are still in the NPM registry:

https://www.npmjs.com/package/@mozilla-protocol/layout
https://www.npmjs.com/package/@mozilla-protocol/colors

It can be difficult to remove an NPM package but these should qualify and hopefully don't have

[2020-04-10 16:40] justinkropp commented on #536
After some discussion, @shorlander, @dzingeek, and I arrived at a first-stab at vertical rhythm guidelines. They are as follows (with examples):

Vertical spacing between content sections on a site have two values:

- `96px`
- `192px`

`192px` spacing is used to separate **unrelated** sections on a page by inserting more _white space_ between those sections. An examples would be separating a secti

[2020-04-10 18:00] justinkropp commented on #345
@stephaniehobson I've got some updated visuals/assets that will help solidify our grid framework. I'll drop them here and we can talk about them.

[2020-04-13 16:45] dzingeek commented on #536
We might want to think about a third size but for now I think this a great starting point/foundation. nice work @justinkropp

[2020-04-13 16:48] stephaniehobson commented on #536
@justinkropp Are the values the same for mobile?

[2020-04-13 16:52] justinkropp commented on #536
@stephaniehobson Good question. They're not the same on mobile. I'll post specs and some visuals for those specs here today.

[2020-04-14 14:37] justinkropp commented on #536
@stephaniehobson, for small viewports I'd like to use the following vertical spacing rules -- which are similar to those above:

`96px` spacing is used to separate unrelated sections on a page.

`48px` spacing is used to separate related sections of content that live together as a group.

![Screen SM](https://user-images.githubusercontent.com/1461798/79237072-bc90d500-7e3b-11ea-9f96-1ec913a15499.j

[2020-04-14 21:02] dzingeek commented on #536
@justinkropp I think we should change the spacing for mobile (separate related sections) to the following.

**64px** spacing is used to separate related sections of content that live together as a group.

[2020-04-15 14:04] justinkropp commented on #536
@dzingeek Agreed. `64px` feels better.

[2020-04-15 16:37] tikhsuP commented on #557
@stephaniehobson Please review.

[2020-04-16 15:28] #560 closed

[2020-04-17 23:19] #435 closed

[2020-04-20 22:35] #429 closed

[2020-04-20 22:57] #430 closed

[2020-04-20 23:34] craigcook commented on #557
I rebased, updated the changelog, and merged this manually in https://github.com/mozilla/protocol/commit/ce77ad5b6a03d336330d45b3d1c8253323ad1bf3

Thanks for the pull request!

[2020-04-20 23:34] #557 closed

[2020-04-23 17:57] justinkropp opened #574 "Sticky Sub Navigation"
### Please describe the use case(s) for this component

With the sticky navigation behavior now being implemented for our primary navigation, we'll want to define how any sub-navigation will behave on pages that include any sub-nav items. The [Enterprise page](https://www.mozilla.org/en-US/firefox/enterprise/) is one such example.

### Please provide any designs or previous implementations of the

[2020-04-23 20:39] ejregithub opened #575 "Update Icons in modules on previous What's New & Moments pages"
Brand has new icons that need to be added to Protocol.

Those can be referenced here:  https://github.com/mozilla/bedrock/issues/8768

Once added to Protocol, the updates will need to be made in bedrock, which will be managed in this card: https://github.com/mozilla/bedrock/issues/8800

[2020-04-23 23:51] mheubusch commented on #297
@stephaniehobson Is this issue done from a developer perspective? If so, it is ok to close. Craig and I talked about how we can close things so they get out of the developer's queue and keep them in the documentation column until I can review and add information for any design guidelines. Thank you!

[2020-04-24 14:30] stephaniehobson commented on #297
Yes, the code work is done.

[2020-04-24 14:30] #297 closed

[2020-04-27 17:07] craigcook commented on #563
I entered into this expecting it to be two NPM packages and the task was to figure out how to accomplish that, or to determine it couldn't be done and find an alternative. So as far as I can tell each NPM package has exactly one git repository, so to fork the package we'd have to fork the Protocol repo and I definitely to NOT want to do that. The entire point of theming is to have one design syste

[2020-04-27 17:07] #563 closed

[2020-04-30 15:26] dzingeek commented on #536
One more note @justinkropp I think we need another size based. let's chat about this in our working session on friday.

[2020-04-30 18:20] stephaniehobson opened #576 "Sticky nav: wait for users to show scroll intent"
Before displaying the navigation menu when the user begins scrolling up we should make sure that the user is actually intending to scroll up. With a drop-down menu we would call this hover intent so I'm calling the scroll intent.

One possible option would be to wait until the user has scrolled back up more than 5 pixels.

[2020-04-30 18:26] stephaniehobson opened #577 "When opening sticky nav at bottom of the screen, some options cut off"
This is very much an edge case. With a small monitor and a large drop down menu it is possible to have drop down menu options cut off by the bottom of the screen if the menu is opened while the user is at the bottom of the page. Attempting to scroll these options into view then collapse as the menu.

[2020-05-01 00:11] stephaniehobson commented on #370
Fixed in https://github.com/mozilla/protocol/issues/430

[2020-05-01 00:12] #370 closed

[2020-05-01 00:17] stephaniehobson commented on #225
Closing in favour of https://github.com/mozilla/protocol/issues/508

@SunveerSingh Thank you for being interested. I think the form stuff is too big to be a good contributor issue.

[2020-05-01 00:17] #225 closed

[2020-05-04 15:50] dzingeek commented on #536
@stephaniehobson we (@justinkropp + @shorlander and I) decided we need another size for desktop = 96px.

**So the final spacing sizes for desktop is:
192px – 96px – 64px**

_Note: We might need another size for mobile. Looking into that today/this week._

[2020-05-04 22:16] dzingeek commented on #536
@stephaniehobson talked with @justinkropp about mobile vertical spacing and we both agree that we need a third one = 64px

So the final spacing sizes for mobile is:
96px – 64px – 48xpx

[2020-05-05 19:26] craigcook opened #578 "Newsletter form: add optional subtitle"
### Please describe the use case(s) for this component

Some instances of the newsletter form have need for a true secondary title in addition to a main title and description. I think we should offer both a subtitle and a description. They should both be optional so you could have one or the other or neither (title should be required).

### Please describe the change you wish to see

- Add a new `

[2020-05-05 21:57] stephaniehobson commented on #483
Fixed in #516

[2020-05-05 21:57] #483 closed

[2020-05-05 22:27] craigcook commented on #578
Also we could rename "tagline" to "desc" (description) which we've used elsewhere

[2020-05-05 23:11] stephaniehobson commented on #519
I think the problem is that when a large `text-indent` value is supplied Safari dutifully tries to honour it. To do so the element would have to be huge, so the grid flexes to try to accommodate the huge element. Setting a specific width also fixes it (unfortunately `100%` doesn't count).

I think the easiest fix is to go even more old school to `text-indent: -9999px`;

I would like to switch to t

[2020-05-08 17:41] stephaniehobson commented on #505
New tokens are in https://github.com/mozilla/protocol-tokens/pull/81

[2020-05-08 22:09] stephaniehobson opened #580 "Add button alignment options"
Integrate the awesome work done by the SUMO team on a component for buttons:

<img width="1205" alt="button-wrap" src="https://user-images.githubusercontent.com/854701/81453220-cefde600-913d-11ea-955a-cda6b642a89d.png">

[2020-05-09 07:23] Aakash2408 commented on #577
Can you please share the images of the screen. I would like to work on this.

[2020-05-09 20:16] Aakash2408 opened #582 "Improving Navbar -Adding CSS to Navbar"
### Sticky Navbar Frontend

We have a black background navbar on the left-hand side , But items on the list are left-aligned and with an underline . They look so much basic and boring.

![protocol mozilla org_](https://user-images.githubusercontent.com/47134609/81483024-c0f0b800-9258-11ea-8a67-d6351057f638.png)

This is how the navbar look now

### Making changes in the navbar
I am trying to make

[2020-05-11 16:15] stephaniehobson commented on #577
Sorry, I don't have time to provide guidance. We will mark bugs that have info and are good for community contribution with the tag "good first bug".

[2020-05-11 18:50] Aakash2408 commented on #199
Is someone working on this or I can take this?

[2020-05-11 18:55] Aakash2408 commented on #559
Can I Take this?

[2020-05-11 18:58] Aakash2408 commented on #550
I have made a pull request( #583). This pull request contains this issue as well as #582 .Kindly review :)

[2020-05-11 19:14] tikhsuP commented on #559
Yes @Aakash2408, feel free to work on it.

[2020-05-11 19:46] Aakash2408 commented on #582
Can someone assign it to me?I have already made a pull request for this change.

[2020-05-11 19:55] Aakash2408 commented on #559
Ok, I will have a look upon code and make the changes. Meanwhile, can you kindly  assign me another issue #582  I have made those changes in local and made a pull request also #583

[2020-05-11 21:18] Aakash2408 commented on #559
When I click on the open navigation I got this:
![spacing](https://user-images.githubusercontent.com/47134609/81612765-fc2aec80-93fa-11ea-9ae6-4b7d95cd566b.png)

Can you tell about which spacing you are talking?

[2020-05-11 22:01] tikhsuP commented on #559
Apologies.
This issue has been fixed.
Feel free to work on another issue : )

Thanks for your interest. @Aakash2408

[2020-05-11 22:01] #559 closed

[2020-05-11 22:07] tikhsuP commented on #582
Thanks for your interest, @Aakash2408.

Kindly wait till a community member replies to your messages/ PRs. They will provide you help regarding this issue. You can try to reach out to them through emails.

Thanks again :)

[2020-05-13 16:26] stephaniehobson opened #584 "Language select needs adjustments for new select styles"
Dropdown arrow is missing and it's too wide for the available space:

![Screen Shot 2020-05-13 at 09 25 30](https://user-images.githubusercontent.com/854701/81838971-c02b8080-94fb-11ea-9ce9-98d3b322e799.png)

[2020-05-15 15:27] craigcook opened #587 "Improve notification bar accessibility"
The notification bar includes an optional "close" button (for when it's used as a dismissable dialog) but our examples don't have a readable text label in that button. A screen reader might skip over the button entirely, or announce it without stating what it does since its purpose isn't clear without a label. The button should have an accessible label like "Close notification" that can be visuall

[2020-05-15 15:27] alexgibson commented on #587
See also https://github.com/mozilla/protocol/issues/459

[2020-05-15 15:30] craigcook commented on #459
(originally filed as a separate issue):

The notification bar includes an optional "close" button (for when it's used as a dismissable dialog) but our examples don't have a readable text label in that button. A screen reader might skip over the button entirely, or announce it without stating what it does since its purpose isn't clear without a label. The button should have an accessible label like

[2020-05-15 15:31] craigcook commented on #587
Added comments to https://github.com/mozilla/protocol/issues/459 and we can close this as a dupe.

[2020-05-15 15:31] #587 closed

[2020-05-15 15:58] craigcook commented on #459
Labels are added to the example buttons in https://github.com/mozilla/protocol/pull/579

[2020-05-15 16:27] #519 closed

[2020-05-15 16:38] craigcook commented on #447
Currently I'm achieving themability by assigning all the themable design aspects to variables: change the variables, change the theme. This means turning theme colors into named variables but we haven't really defined a general base palette before so we need to do it now.

Here are the palette variables I've got so far:
[code]

A few are called "alt" because they're just an alternative color, but

[2020-05-15 17:15] mheubusch opened #588 "Tabs"
Design tabs for progressive disclosure of content. Leverage existing precedent from SUMO if possible.

### Please describe the use case(s) for this component

What does the component do? In what contexts is it used. Be as specific as possible.

### Please provide any designs or previous implementations of the proposed component

Add screenshots, mockups, code prototypes, etc. in this section.

##

[2020-05-15 22:23] dzingeek opened #589 "CTA Text Links"
Refine CTA text links : these are links that are not part of a body of text but stand alone links

[2020-05-15 22:28] dzingeek commented on #589
@shorlander @justinkropp here is where i have landed with CTA text links. I would love to get your eyeballs on this and also talk about how to best spec out the focused box-shadow element.

![Fx-cta-text-links](https://user-images.githubusercontent.com/3740746/82101192-b2732800-96c0-11ea-99ca-ef3a33bae495.png)

[2020-05-17 11:21] Pike opened #590 "menu-list-download.hbs demo doesn't work"
## Description

If I compare https://protocol.mozilla.org/patterns/molecules/menu-list.html# with https://www.mozilla.org/en-US/firefox/enterprise/, it seems that the demo one doesn't work?

### Expected result

The download/cta style menulist should differ from the non-modified.

### Environment

Happens on Firefox, both release and nightly

[2020-05-18 10:10] alexgibson opened #591 "Typography docs are outdated and could use some improvement"
## Description

The [typography scale example](https://protocol.mozilla.org/fundamentals/typography.html#styles) in the Protocol documentation site is out of date, and does not yet reflect the new naming conventions that were added in https://github.com/mozilla/protocol/pull/555.

It would also be _really_ useful if the documentation here detailed the breakpoint sizing for each mixin. I often find

[2020-05-18 10:17] alexgibson commented on #591
It would also be nice if the pseudo content values were a little more descriptive for what each value in the example represents: https://github.com/mozilla/protocol/blob/master/src/assets/sass/demos/type-scale.scss#L55

[2020-05-19 19:58] stephaniehobson commented on #428
@dzingeek Do the CTA colour changes in https://github.com/mozilla/protocol/issues/589 have any implication for link colours?

[2020-05-19 21:50] dzingeek commented on #428
great question @stephaniehobson right now i don't think so but we should take a look at these now that we have some background colors decided.

[2020-05-20 17:19] #439 closed

[2020-05-27 17:13] dzingeek commented on #544
Linking this github issue here to make sure these things are reviewed and addresses if needed as we build out the new nav system:

https://github.com/mozilla/bedrock/issues/8937

[2020-05-31 06:13] nilayrajderkar commented on #591
@alexgibson should instances of the word 'Display' in the example be changed to 'Title' in the documentation? Also if this issue has not been taken up, can I try working on it?

[2020-06-01 15:51] dzingeek commented on #589
Here is an updated spec sheet for the icons with the new focus state + a [zip file with the text link icons](https://github.com/mozilla/protocol/files/4712156/icons-txt-links.zip)

![Fx-cta-text-links](https://user-images.githubusercontent.com/3740746/83427045-f2d2e580-a3e4-11ea-970c-98a74a979b07.png)

[2020-06-01 15:54] dzingeek commented on #428
Here are updated specs for inline links to match (as much as we can) the cta text links and button styles/colors
![Fx Inline-links](https://user-images.githubusercontent.com/3740746/83427327-6a087980-a3e5-11ea-9d85-e166c373a402.png)

[2020-06-01 15:55] dzingeek opened #594 "Update Button Focus State to match other focus states within protocol"
After updating focus states for [text links](https://github.com/mozilla/protocol/issues/589) and [inline links](https://github.com/mozilla/protocol/issues/428) to make them more accessible we realized we should do the same for the buttons.

[2020-06-01 17:08] craigcook commented on #591
I'm updating these docs as part of [updating the type scale(s)](https://github.com/mozilla/protocol/issues/410) which is in turn part of [theming](https://github.com/mozilla/protocol/issues/447).

[2020-06-03 05:21] AveryBuehler opened #596 "Navigation Mobile View & Close Button"
## Description

The navigation 'organism' is not working as per the [demo](https://protocol.mozilla.org/demos/navigation.html) out-of-the-box. The collapsable navigation menu remains visible on smaller screens (i.e., mobile devices), the hamburger does not appear in the top-right corner, the plus icons do not appear next to the navigation titles, and the "sticky" navigation feature does not work e

[2020-06-03 08:08] alexgibson commented on #596
Thanks for opening this issue,

It's a bit hard to say without a test case that you can link to, but my guess is that you probably need to include Protocol's common JS bundles in your page:

- https://github.com/mozilla/protocol/blob/master/src/assets/js/protocol/protocol-base.js
- https://github.com/mozilla/protocol/blob/master/src/assets/js/protocol/protocol-utils.js
- https://github.com/mozilla

[2020-06-04 00:29] AveryBuehler commented on #596
Hey Alex,

I tried what you suggested but I'm still seeing the same issues. For reference, I'm using Angular 9.1 and copied the relevant JS bundles into my `assets` folder. I've placed the three bundles mentioned above in `index.html` in the `<head>` but the issues still persist.

[2020-06-04 05:17] alexgibson commented on #596
Can you please provide a reduced test case? It’s a little hard to debug this without being able to see some code.

[2020-06-04 05:25] alexgibson commented on #596
Thanks for providing a test case, I’ll take a look and see what I can suggest.

[2020-06-04 08:39] alexgibson commented on #596
When I run `npm install` on your test case it fails with the error:

[code]

From there on, the install steps in the readme don't work.

So, I wasn't able to get your project running locally, but taking a look at your code, try adding a default class of[`no-js`](https://github.com/mozilla/protocol/blob/master/src/templates/blank.hbs#L2) to your base HTML file. This is needed by [`protocol-base.js`

[2020-06-05 00:34] AveryBuehler commented on #596
Interesting.. I was able to clone the repository and run `npm install` without any errors. Do you see anything in the error logs file? You could also try installing `nan` independently (`npm i -g nan` & `export NODE_PATH=$(npm root -g)`).

I tried adding the default class of `no-js` to my base HTML file and it fixed *some* of the issues, but not all of them. The navigation menu is now hidden on mo

[2020-06-05 09:01] alexgibson opened #597 "Can't compile `protocol-extra.scss` after NPM install"
## Description

For context see discussion in https://github.com/mozilla/protocol/issues/596

### Steps to reproduce
1. Create a fresh empty project and run `npm init` (accept defaults).
2. Install Protocol via `npm install @mozilla-protocol/core --save`
3. Install Sass via `npm install node-sass --save`
4. Try to compile `protocol-extra.scss` via `./node_modules/.bin/node-sass node_modules/@mozil

[2020-06-05 09:05] alexgibson commented on #597
It looks like the relative paths here are to blame. They work when publishing, but since the files are moved around they are incorrect once consuming via NPM:

[code]

Should be:

[code]

[2020-06-05 09:14] alexgibson opened #598 "gulp-sass needs updating"
## Description

I'm on Node v12.16.2 (the current LTS release), and Protocol throws an error when trying to install the project, or build assets when running `gulp`.

### Steps to reproduce

Update Node to the latest LTS version and run either `gulp` (if alread installed locally), or nuke `node_modules` and then try running `npm install`.

### Expected result

The commands should run sucessfully.

[2020-06-05 09:47] alexgibson commented on #596
Ok, I managed to install your project by adding `nan` as a local dependency. You may want to include this locally as opposed to globally if it's a dependency.

I was able to reproduce the relative path issue, for which I filed https://github.com/mozilla/protocol/issues/597.

When running you project locally it looks like neither `protocol-navigation.js` nor `protocol-menu.js` are being included in

[2020-06-05 15:01] #597 closed

[2020-06-05 18:42] AveryBuehler commented on #596
I forgot to edit my post, sorry about that. I **did** notice that the scripts weren't being included on the page, so I moved them to the `<head>` of `index.html` for testing. Even when loaded on the page, however, the aforementioned issues still persist.

[2020-06-05 18:50] alexgibson commented on #596
You may need to initiate the components once they are loaded by Angular. If you include them in the page template and try to run separately, then they will try to initiate before the nav has been loaded in the DOM by Angular. I’m pretty certain this is an issue with your project setup, as opposed to Protocol itself. I’m sorry, but I don’t have capacity to help debug this much further, unless you c

[2020-06-05 22:11] AveryBuehler commented on #596
Not a problem - I appreciate your insight! I'll continue to debug on my own and *hopefully* get everything working as intended. Thanks again.

[2020-06-05 22:11] #596 closed

[2020-06-08 18:21] #508 closed

[2020-06-11 19:07] #598 closed

[2020-06-12 13:05] stevejalim opened #602 "Button click-state styling is inconsistent in Chrome"
## Description

Clicking a Protocol button in latest Chrome shows a blue, rounded-corner border that looks inconsistent.

### Steps to reproduce

Go to https://protocol.mozilla.org/patterns/atoms/buttons.html with Chrome (eg 83.0.4103.97 MacOS)

Click on a button.

### Expected result

Should look like this (from Firefox):

![Screenshot 2020-06-12 at 14 03 36](https://user-images.githubusercontent

[2020-06-12 13:07] stevejalim commented on #602
Further, just noticed this in Edge Beta on MacOS:

![Screenshot 2020-06-12 at 14 06 13](https://user-images.githubusercontent.com/101457/84505606-ee94ab00-acb5-11ea-9551-7e7c885bbcb0.png)

(I haven't checked Safari yet because it's glitching on my machine, but am sure someone will when tackling this bug)

[2020-06-12 15:37] craigcook commented on #602
I get a white focus ring in my Chrome, not blue, but that might be attributable to some local preference setting either in Chrome or macOS. I'm not sure if something changed recently in Blink/Chromium or if our buttons have always had this issue...

But in any case, these buttons are changing in the next Protocol release (see https://github.com/mozilla/protocol/issues/429) so this issue should soo

[2020-06-12 16:14] stevejalim commented on #602
Thanks @craigcook - it's definitely a new thing/moved goalposts, rather than a long-standing bug, else am pretty sure I would have seen it before, given how often am clicking on them during development.

Does #429 fully replace the current button style? (Am fine with that, just wondering how big a change to expect/to have to QA on my stuff 😄 )

[2020-06-12 16:51] stephaniehobson commented on #602
Chrome[ just changed all their form element default styles](https://css-tricks.com/chrome-83-form-element-styles/)  🤦‍♀️ We should double check before we publish 12.

[2020-06-12 16:58] craigcook commented on #602
There's also this recent issue to update focus styles on buttons, so this change in Chrome is another thing to factor in https://github.com/mozilla/protocol/issues/594

[2020-06-22 19:17] justinkropp opened #603 "Sticky Promo Card"
### Please describe the use case(s) for this component
The Sticky Promo Card is a fixed floating content block used to:
- promote a product, service, or series of products
- provide a download CTA

What does the component do? In what contexts is it used. Be as specific as possible.

The Promo Card slides in as the user reaches a certain position on the page. As the user scrolls back up the sticky

[2020-06-22 23:43] #580 closed

[2020-06-23 00:09] theRingMaster01 opened #604 "w Component Request"
Please use this template to request a new component.
If you're not sure whether a component already exists,
go ahead and file the issue here, and the team will triage appropriately.

Fill in as many sections as possible below.

### Please describe the use case(s) for this component

What does the component do? In what contexts is it used. Be as specific as possible.

### Please provide any designs

[2020-06-23 00:38] #604 closed

[2020-06-23 00:49] #505 closed

[2020-06-23 21:38] dzingeek commented on #540
I think this should be tied to the [epic "Fx Modular Navigation System" issue](https://github.com/mozilla/protocol/issues/544)

[2020-06-26 19:34] stephaniehobson opened #607 "Form fields will not shrink less than 300px"
In instances where the `max-width: 100%` would be less than the `min-width: 300px`, form fields are sticking at 300px wide and over-flowing parent containers.

<img width="386" alt="Screen Shot 2020-06-26 at 12 32 39" src="https://user-images.githubusercontent.com/854701/85894243-397beb80-b7a9-11ea-8e65-74679b071830.png">

[2020-06-29 18:41] Rudresh22 commented on #594
Hello, I want to work on this issue. Please guide me through this.

[2020-06-29 18:43] Rudresh22 commented on #445
Hello, can I work on this issue?

[2020-06-29 18:44] Rudresh22 commented on #591
Hello, can I work on this issue?

[2020-06-30 00:41] #449 closed

[2020-06-30 22:40] dzingeek commented on #594
@Rudresh22 here are the new specs for the focus state for our buttons. Please let me know if you have any questions or need more guidance.

**image showing button focus state for reference**
![image showing button focus state for reference](https://user-images.githubusercontent.com/3740746/86183874-d01d1500-bae7-11ea-8602-8b8cc4928dae.png)

**focus state specs are as followed:**

- Border-radius:

[2020-07-01 04:15] Rudresh22 commented on #594
@dzingeek On it thanks.

[2020-07-01 07:14] Rudresh22 commented on #594
Hello, @dzingeek ma'am, I seem to be having a linebreak error while running 'npm start' and hence I am not able to start the development server. Can I make the changes without running the development server?

[2020-07-01 16:41] dzingeek commented on #594
@craigcook can you help with the above?

[2020-07-01 17:56] craigcook commented on #594
What is the error?

`npm start` will install all dependencies, then build Protocol and start the server. Alternatively you can run `npm install` just to get the dependencies, then `gulp --dev` to build and start the server. Running them separately might help you isolate an error. And once it's installed you don't need to reinstall every time you want to work on it, you can just do `gulp --dev` fro

[2020-07-01 20:20] Rudresh22 commented on #594
@dzingeek ma'am, I should make the changes for the given specs in the _button.scss file right? Very sorry for the inconvenience, I am a little new to OS.

[2020-07-06 21:48] craigcook commented on #594
Yes, the file is `components/_button.scss`

[2020-07-08 22:07] stephaniehobson opened #611 "mzp-l-content too wide on small screens"
As a result of the new content sizes which use `box-sizing:content-box` content now causes crawlbars on small screens.

[2020-07-09 21:45] amychurchwell opened #613 "Standardize data attributes in protocol for GTM"
## Description

I would like the explore the possibility of using protocol as a lever to standardize attribution on Mozilla websites. If our goal is to one day have websites across Mozilla consuming the protocol, I wonder if we could also ship tests for [data attributes & expected values](https://bedrock.readthedocs.io/en/latest/analytics.html#gtm-listeners-data-attributes) for elements within the

[2020-07-09 21:45] amychurchwell commented on #613
@craigcook @stephaniehobson would love to know your initial reactions as you are the closest devs to protocol at the moment.

[2020-07-13 16:12] #537 closed

[2020-07-13 18:10] amychurchwell commented on #613
We are potentially moving away from GA/GTM. Depends on: https://github.com/mozilla/bedrock/issues/7083

[2020-07-14 02:29] #611 closed

[2020-07-14 04:56] stephaniehobson commented on #607
Whelp, this is working as intended [according to the CSS spec](https://stackoverflow.com/a/16063871/462195) 🤦‍♀️

[2020-07-14 06:11] stephaniehobson opened #615 "Navigation should be max-content width on large screens."
On large screens the navigation menu is narrower than the content. It should match.

<img width="233" alt="Screen Shot 2020-07-13 at 23 10 32" src="https://user-images.githubusercontent.com/854701/87390624-16e62280-c55e-11ea-8804-5da5bdb0d33a.png">

[2020-07-14 06:24] stephaniehobson opened #616 "'lintCSS' errored after 4.48 s"
I'm getting an error when I try to run `npm start`. I think it may be related to #608.

[code]

[2020-07-14 06:38] sarthakkundra commented on #576
Hi @stephaniehobson . Can you please elaborate the request because the only navbar I see is on the side of the page.

[2020-07-14 06:55] alexgibson commented on #616
@stephaniehobson things seem ok on the master branch and in CI. Might you be running an outdated version of Node perhaps? What does `node -v` say?

[2020-07-14 07:34] alexgibson commented on #616
I can't reproduce this on Node v12, and we're running v10 in CI which also seems ok.

[2020-07-14 15:20] stephaniehobson opened #618 "Text replacement issue in footer"
![86477677-d823c180-bd40-11ea-8f8c-8058000ee7d1](https://user-images.githubusercontent.com/854701/87443853-e37db500-c5aa-11ea-8bb3-c3ea1624ee0f.png)

[2020-07-14 15:48] stephaniehobson opened #620 "Card half doesn't fill half width of large screens"
![86477438-5895f280-bd40-11ea-85b3-4eb05259789a](https://user-images.githubusercontent.com/854701/87446931-ca770300-c5ae-11ea-93e4-d31ff6924d1e.png)

[2020-07-14 17:22] #618 closed

[2020-07-14 17:31] #615 closed

[2020-07-14 18:25] stephaniehobson commented on #616
That fixed it 👍

[2020-07-14 18:25] #616 closed

[2020-07-14 20:24] #607 closed

[2020-07-14 21:55] stephaniehobson commented on #620
Fixed in #612

[2020-07-14 21:55] #620 closed

[2020-07-15 05:52] amychurchwell commented on #603
Hi @justinkropp! Started working on a rough draft PR for this. Is the documentation finalized? or still being refined?

[2020-07-15 13:40] justinkropp commented on #603
Hey @amychurchwell. I've attached the visual specs for the promo card, which you should consider a work in progress. That being said, it should provide enough to compare the prototype to. I don't foresee any big changes to these specs.

![Sticky Promo](https://user-images.githubusercontent.com/1461798/87551921-037ea880-c67f-11ea-9813-d72005a5df40.png)

[2020-07-15 18:24] amychurchwell opened #624 "Small typo on forms page."
## Description

Small typo on [molecules/forms](https://protocol.mozilla.org/patterns/molecules/forms.html)
https://github.com/mozilla/protocol/blob/29da067fae5474cf7aeb84bc0fe58fd93bc29e3b/src/patterns/molecules/forms/custom-checks.hbs#L3

Update `precicely` to `precisely`

[2020-07-15 18:25] amychurchwell commented on #624
This is a great beginner bug for anyone out there who would like to contribute a PR.

[2020-07-20 17:54] amychurchwell opened #628 "Add mzp-t-dark to fundamentals/themes"
## Description

Add an example of using `mzp-t-dark` to fundamentals/themes

[2020-07-20 18:02] craigcook commented on #628
That page is changing a lot in https://github.com/mozilla/protocol/pull/609.

We don't have a really fleshed out dark theme and I want to work on that soon. In the interim I can try to add some documentation of the rudimentary dark theme we do have.

[2020-07-20 18:14] amychurchwell commented on #628
@craigcook We have it on a per-component basis, which I think is worth calling out even if it's not a body tag theme yet.

[2020-07-21 00:16] stephaniehobson opened #629 "Vertically center download button"
The smaller buttons are not vertically centered in the nav like they were before.

<img width="677" alt="Screen Shot 2020-07-20 at 17 16 14" src="https://user-images.githubusercontent.com/854701/87998433-c403f200-caac-11ea-9955-5fa4570673de.png">

[2020-07-22 00:37] stephaniehobson commented on #584
Fixed in #592

[2020-07-22 00:37] #584 closed

[2020-08-16 18:24] rochisha0 commented on #624
Hey! I'll like to contribute.

[2020-08-16 18:35] rochisha0 commented on #624
I think this has been already fixed. This issue can be closed. :)

[2020-08-17 00:28] #624 closed

[2020-08-17 09:29] rochisha0 commented on #628
Can I work on this @amychurchwell ?

[2020-08-17 14:45] craigcook commented on #628
Sorry, this is already being addressed in https://github.com/mozilla/protocol/pull/609, I should have assigned myself.

[2020-08-28 08:22] alexgibson opened #634 "Update protocol home page info"
## Description

https://protocol.mozilla.org/

"Protocol is still in an early stage of development and likely to change a lot in the near future." - imho we should remove this. The project is now 3 years old, and if we never remove the training wheels it becomes kinda pointless to have it.

"You can find us in #design-systems on Mozilla’s Slack (for Mozillians)"

Slack channel should be `#protocol

[2020-08-28 14:32] #634 closed

[2020-09-17 08:44] alexgibson opened #637 "[Component Change Request] Notification Bar"
### Please describe the use case(s) for this component

Showing an in page notification bar for a pre-determined length of time when a user clicks on a button, or performs an action.

### Please describe the change you wish to see

We have a JS APi for the notification bar, but it doesn't yet support two features I think would be useful:

- A public function to close the notification e.g `Mzp.Noti

[2020-10-16 21:48] maxxcrawford opened #638 "Add open functionality to Sticky Promo component"
### Please describe the use case(s) for this component

In order to remember if this promo has been dismissed, we need to set a cookie and then hide the promo by default. Rather than bake all that special functionality into Protocol, we want to make this require an open function (instead of just visible-by-default)

### Please describe the change you wish to see

Revise CSS so that this is hidden

[2020-10-23 18:15] #638 closed

[2020-11-12 23:33] stephaniehobson opened #642 "JS error on /new in Firefox < 6.0"
[code]

https://sentry.prod.mozaws.net/operations/bedrock-prod/issues/9874754/

[2020-11-12 23:34] stephaniehobson commented on #642
I traced this to `document.querySelector('.join-firefox-content');` in join-modal.js

I suspect the problem is related to support for `querySelector` though, docs say it should be supported after Firefox 3.5.

[2020-11-12 23:51] stephaniehobson commented on #642
Oops, wrong repo.

[2020-11-12 23:51] #642 closed

[2020-11-13 00:38] stephaniehobson opened #643 "Check for sidemenu before initializing"
Check for sidemenu before initializing see https://github.com/mozilla/bedrock/issues/9655

[2020-11-17 09:32] alexgibson commented on #544
Closing this as superceded by https://github.com/mozilla/bedrock/issues/9220

[2020-11-17 09:32] #544 closed

[2020-11-17 09:33] alexgibson commented on #540
Closing this as superseded by https://github.com/mozilla/bedrock/pull/9650

[2020-11-17 09:33] #540 closed

[2020-11-17 09:34] alexgibson commented on #471
Superseded by https://github.com/mozilla/bedrock/pull/9650

[2020-11-17 09:34] #471 closed

[2020-11-17 09:34] alexgibson commented on #216
Superseded by https://github.com/mozilla/bedrock/pull/9650

[2020-11-17 09:34] #216 closed

[2020-11-17 15:39] craigcook opened #645 "Backport navbar and footer redesigns from bedrock"
The global navbar was redesigned in https://github.com/mozilla/bedrock/issues/9286. This landed first in bedrock, and now we need to follow through and update the component in Protocol.

This also includes some updates to the footer component and some revised styling for a subnav component that also needs backporting (see #471).

[2020-11-17 20:59] #643 closed

[2020-11-17 21:39] #405 closed

[2020-11-17 21:39] #410 closed

[2020-11-17 21:39] #447 closed

[2020-11-19 00:57] #603 closed

[2020-11-19 00:58] #414 closed

[2020-11-19 00:59] #591 closed

[2020-11-24 21:50] tedw opened #647 "No support for dark mode"
## Description

The design system doesn’t appear to support the [`prefers-color-scheme: dark`](https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-color-scheme) CSS media feature. Not sure if this is on the roadmap but would be a nice feature, though I know it’s not a trivial update.

Here’s a simple example showing the basic idea:

[code]

I suppose one approach would be to create alt

[2020-12-03 17:36] craigcook opened #648 "Add a mixin for white links in components with dark backgrounds"
We have a `light-links` mixin that applies inverted link colors for dark backgrounds. Previously it set links to white (for all states) but in 13.0.0 that changed to implement new link colors (including different colors for different states; light blue for `:link`, light purple for `:hover` etc). But we regularly want to set inverse links to white explicitly and the colored `light-links` mixin isn

[2020-12-14 09:10] #648 closed

[2020-12-17 01:36] hwine opened #652 "Travis CI free usage ends Dec 3; mozilla repos should switch to other CI platforms"
We're opening this issue because your project has used Travis CI within the last 6 months. If you have already migrated off it, you can close and ignore this issue.

Travis CI is ending free builds on public repositories. travis-ci.com [stopped providing](https://blog.travis-ci.com/2020-11-02-travis-ci-new-billing)them in early November, and travis-ci.org [will stop](https://mailchi.mp/3d439eeb109

[2021-01-07 19:16] craigcook opened #653 "Font stacks being wrapped in parentheses when compiling in Node Sass"
## Description

The team working on https://github.com/mozilla/glean-dictionary ran into a Sass compilation error using the Node Sass package (https://www.npmjs.com/package/sass). Font stacks are being enclosed in parentheses for some reason, which throws a "not valid CSS" error and compilation fails. Other compilers don't do this so it may be some particular syntax/configuration option with Node.

[2021-01-22 13:58] alexgibson opened #655 "[a11y] Button color contrast issue for focus / visited link styles"
## Description

For links that are styled like buttons, the focus text color is hard to read if the link destination has already been visited.

### Steps to reproduce

1.) Visit https://www.mozilla.org/en-US/about/
2.) Click on the "Read our Mission" cta button.
3.) Once on the mission page, press the browser back button.
4.) Now using the keyboard tab to focus on the cta button again.

### Expect

[2021-01-22 14:04] alexgibson opened #656 "[docs] Button dark theme examples shown on light background"
## Description

Some of the dark theme button examples are shown on a light background, making them invisible.

### Steps to reproduce

Visit:
- https://protocol.mozilla.org/patterns/atoms/buttons.html#product-secondary-dark
- https://protocol.mozilla.org/patterns/atoms/buttons.html#neutral-dark

### Expected result

Buttons should be visible.

### Actual result

Buttons are invisible.

### Enviro

[2021-01-25 19:01] #655 closed

[2021-01-25 19:01] #656 closed

[2021-02-03 14:30] alexgibson opened #658 "Double icon rendered for details component [IE 11]"
## Description

When using the native `<details>` styling, IE browsers render the toggle icon twice.

### Steps to reproduce

Using IE11, visit: https://protocol.mozilla.org/patterns/molecules/details.html#details-summary-elements

### Expected result

Each `<detail>` should have a single toggle icon:

<img width="1191" alt="image" src="https://user-images.githubusercontent.com/400117/106760881-2d

[2021-02-16 17:45] alexgibson opened #659 "<details> feature detect causes a forced layout of the page"
## Description

Calling `Mzp.Supports.details()` causes a forced layout of the page. Firefox Nightly gives the following warning when this happens:

[code]

### Steps to reproduce

1. Visit https://protocol.mozilla.org/patterns/molecules/details.html
2. Open Dev Tools and inspect the warning message.

The warning links to this line: https://github.com/mozilla/protocol/blob/main/src/assets/js/proto

[2021-02-28 21:03] shekita88 opened #660 "New Component Request"
Please use this template to request a new component.
If you're not sure whether a component already exists,
go ahead and file the issue here, and the team will triage appropriately.

Fill in as many sections as possible below.

### Please describe the use case(s) for this component

What does the component do? In what contexts is it used. Be as specific as possible.

### Please provide any designs

[2021-02-28 21:04] #660 closed

[2021-02-28 21:04] shekita88 commented on #660
https://github.com/mozilla/protocol/issues/660

[2021-03-10 23:37] craigcook commented on #567
I've deprecated both of these.

[2021-03-10 23:37] #567 closed

[2021-03-10 23:41] craigcook commented on #298
This was done in https://github.com/mozilla/protocol/pull/595

[2021-03-10 23:41] #298 closed

[2021-03-10 23:49] craigcook commented on #376
Contributing docs were much improved in https://github.com/mozilla/protocol/pull/633/ though there's always more to add. I still like the suggestion of including a boilerplate starter file, which is largely covered by another issue (#194) so I think we can called this one resolved, or at least as resolved as living documentation can ever be.

[2021-03-10 23:49] stephaniehobson opened #662 "Picto Component Updates"
Picto "card" component will be replaced by picto "block" component.

Should fix:
- #382
- #384
- #443

[2021-03-10 23:50] craigcook commented on #376
On second thought, the contributing docs are focused on adding TO Protocol, not so much how to use it on your own project. That still needs to be documented, so reopening.

[2021-03-10 23:52] stephaniehobson commented on #662
Closing as dupe of https://github.com/mozilla/protocol/issues/382

[2021-03-10 23:52] #662 closed

[2021-03-10 23:54] stephaniehobson opened #663 "Add VPN logo support"
The VPN site is joining the Protocol family and we should support adding VPN logos to things.

[2021-03-10 23:57] craigcook commented on #382
After simmering on the back burner for a long time this has evolved into a new component to replace the existing picto card, addressing the issues above, including a multi-column layout container. It will address #384 and #443 as well.

[2021-03-10 23:57] stephaniehobson opened #664 "Backport Section Heading from bedrock"
Several pages in bedrock have custom "section title"s. We should backport and standardize.

I'm particularly fond of https://github.com/mozilla/bedrock/blob/53741200257a192422e1a11ec4defdf1a50c84c4/media/css/firefox/new/desktop/download.scss#L281-L291 but, you know, I wrote it.

[2021-03-10 23:59] stephaniehobson commented on #504
Hero component supports a tagline that can be used in this way.

[2021-03-10 23:59] #504 closed

[2021-03-11 00:00] craigcook commented on #664
See also https://github.com/mozilla/protocol/issues/235

[2021-03-11 00:03] craigcook commented on #235
Closing in favor of #664 which will address this use case with a proper component.

[2021-03-11 00:03] #235 closed

[2021-03-11 00:05] stephaniehobson opened #665 "Backport Logo Component from bedrock"
More than once we have used image replacement techniques to add logos to things. We should add a way to do that in Protocol.

Here is one implementation:
https://github.com/mozilla/bedrock/blob/53741200257a192422e1a11ec4defdf1a50c84c4/media/css/firefox/new/desktop/download.scss#L297

For Contenful purposes it would be useful if we could nest the component inside a semantic wrapper like: `<h2><div

[2021-03-16 19:59] stephaniehobson commented on #345
After discussing it with @craigcook we're going to use 64px for the 1024 breakpoint because otherwise the 4 column option for cards and pictos gets too squished and it'd be a lot of work to fix or remove those options.

[2021-03-16 20:56] craigcook opened #668 "Rename "title" to "heading""
We use the term "title" extensively, in components, mixins, variables, and tokens. "Heading" is arguably a better term because it matches the HTML element the term almost always applies to. It also helps to distinguish it from other uses of "title" in HTML (the `title` attribute and the `title` element in the document head).

Changing this term will be pretty sweeping and is certainly a breaking c

[2021-03-29 16:22] #345 closed

[2021-03-29 16:22] #536 closed

[2021-03-31 00:07] #664 closed

[2021-03-31 21:19] #663 closed

[2021-03-31 21:19] #665 closed

[2021-04-01 15:02] #233 closed

[2021-04-01 15:02] #382 closed

[2021-04-02 00:07] #326 closed

[2021-04-06 16:52] Iinh commented on #653
A belated update: we (the Glean Dictionary team) were able to compile Protocol using [node-sass](https://www.npmjs.com/package/node-sass) instead of `sass`. However, this solution is not ideal as node-sass is deprecated.

We're planning on upgrading our app to use a better frontend framework [SvelteKit](https://kit.svelte.dev/docs), but there is a blocker. [Vite](https://vitejs.dev/), the build to

[2021-04-09 20:21] #653 closed

[2021-05-11 13:08] alexgibson opened #687 "Set `window` as default global property for JS namespace"
## Description

Protocol JS components use an `Mzp` namespace (e.g. Mzp.Navigation, Mzp.Newsletter). In the browser, the default root property is `window`, so these would be accessible via `window.Mzp.Navigation`, `window.Mzp.Newsletter` etc.

Many JS bundlers (such as Webpack, Parcel etc) default to wrapping scripts inside a closure to avoid leaking global variables. This is generally a good prac

[2021-05-17 15:44] #687 closed

[2021-05-18 18:38] wlach opened #689 "New Component Request"
Please use this template to request a new component.
If you're not sure whether a component already exists,
go ahead and file the issue here, and the team will triage appropriately.

Fill in as many sections as possible below.

### Please describe the use case(s) for this component

I would like a component to label things in the [Glean Dictionary](https://dictionary.telemetry.mozilla.org), simila

[2021-06-04 22:13] #652 closed

[2021-07-12 09:36] alexgibson opened #694 "Netlify "Trusty" build image is deprecated"
## Description

Got this via emaio from Netlify:

[code]

Migration guide here: https://answers.netlify.com/t/please-read-end-of-support-for-trusty-build-image-everything-you-need-to-know/39004

[2021-07-15 14:43] #658 closed

[2021-07-27 10:16] maureenlholland opened #697 "Update docs to clarify SCSS variable use"
## Description

We experienced unexpected behaviour in the use of Protocol theming with Bedrock, due to the way Sass compiles variables. To avoid confusion in the future, we want to add a note for SCSS variables in the theming docs.

[2021-07-28 00:01] craigcook opened #699 "Picto should have a default bottom margin in a multi-column container"
## Description

The multi-column layout uses grid row-gap for vertical spacing between rows, so we intentionally remove the bottom margin on picto when it's in a column container. However, the columns don't actually kick in until the viewport (or container) is wide enough, which means when pictos stack by default on mobile there's no vertical space between them.

https://github.com/mozilla/protoco

[2021-07-29 12:30] alexgibson opened #700 "Reduce scroll-margin-top offset for sticky navigation"
### Please describe the use case(s) for this component

Sticky navigation:

Because the navigation component can be sticky on scroll, anchor links can sometimes be obscured inadvertantly as a result. To offset this problem, we apply `scroll-margin-top` to offset the scroll position via an optional `mzp-is-anchor-link` class that can be applied to anchor targets.

The value for `scroll-margin-top`

[2021-07-29 12:39] alexgibson commented on #700
Actually, is this offset still really needed? The navigation hides on page load, and only shows again when you start to scroll back up the page.

Thoughts @craigcook ?

[2021-07-29 12:57] alexgibson commented on #700
Actually in testing, this isn't always true. I think it depends if layout of the page changes on load. So we'll need to leave the value at ~80px.

[2021-07-29 13:11] alexgibson commented on #700
Depends on Blocked by https://github.com/mozilla/protocol/issues/645

[2021-07-29 14:31] alexgibson commented on #700
Closing this as was fixed downstream in https://github.com/mozilla/bedrock/pull/10355. It can be backported in https://github.com/mozilla/protocol/issues/645

[2021-07-29 14:31] #700 closed

[2021-07-29 18:30] craigcook opened #701 "Confusing naming for theme spacing variables"
There are theme variables for spacing between elements, prefixed `v` for vertical and `h` for horizontal. But the current variable names also include the word "grid" which (for me at least) adds confusion about where that unit of spacing should actually be applied.

When I think of "vertical grid" I think of the vertical _lines_ in a grid layout, i.e. invisible lines running up and down a page tha

[2021-07-29 20:31] craigcook commented on #443
Closing this since we've added a new Picto component that deprecates the old Picto Card. The new Picto takes an inline image instead of a CSS background image, so it doesn't have this problem. And while the Picto Card is still in Protocol for now, it's slated for future removal and shouldn't get any more updates.

[2021-07-29 20:31] #443 closed

[2021-08-02 20:14] slightlyoffbeat commented on #701
FWIW, as I read this I was thinking we should switch to column/row and that's exactly what you recommended at the end. It would make a lot more sense to me as well.

[2021-08-02 20:36] craigcook commented on #701
Suppose I should add a tl;dr for my stream-of-conscious rambling...

[2021-08-09 17:49] craigcook opened #702 "Enhancements/fixes for Split component"
As we've been implementing Split on more pages on mozilla.org we've identified a few issues to address:

1. The split container is using the border-box model, which makes the Split content significantly narrower (in large viewports) than other content containers that use the default content-box.
![image](https://user-images.githubusercontent.com/205591/128748951-349b79cf-caf4-4232-ba47-75d084af3ab

[2021-08-10 08:35] #699 closed

[2021-08-10 14:49] #702 closed

[2021-08-18 14:51] reemhamz opened #706 "Add a note for components who define their own width containers"
A good chunk of Protocol components use classes like `mzp-l-content` to define their width containers, however other components have their own predefined width containers that don't need to be placed in the HTML, if they are placed, then the width and size of said container has too much padding and becomes misaligned.

It would be good to document so as to not confuse others on how to structure th

[2021-08-18 20:21] craigcook opened #707 "Update/revise card layouts"
Our card layout templates have pretty tight spacing and we've since moved toward giving content a bit more breathing room. We should revise the card spacing to loosen things up.

Additionally, complex card layouts (especially the five-card hero layout) are using floats because CSS grid wasn't really supported at the time we initially built this stuff. We should consider reworking it to use grid (m

[2021-08-19 16:45] alexgibson opened #709 "Add a warning to deprecated Hero component"
We can add a warning in the Hero component scss to try and get people to migrate to Split: https://sass-lang.com/documentation/at-rules/warn

[2021-08-19 18:24] #709 closed

[2021-08-20 17:20] craigcook opened #711 "Update Split component to accommodate YouTube video embeds"
When attempting to use Split with a responsive YouTube embed we found that the media container was collapsing because YouTube's iframe had no "native" dimensions. The media container is currently set to `width: auto` in grid-supporting browsers (overriding `width: 50%` for the float-based fallback) but without any dimensional contents, it simply collapses to nothing. Changing the media container t

[2021-08-22 23:13] craigcook opened #712 "Add some default spacing below the logo/wordmark component"
In most cases a logo or wordmark appears above a headline or some other content and we've found that we always need to add a bottom margin. Since the typical use-case for the component seems to need spacing more often than not, we should add a margin to the component. We can still override it on the rare occasion we need a logo/wordmark _without_ spacing, but most of the time it wouldn't need any

[2021-08-24 13:26] #697 closed

[2021-08-26 12:33] alexgibson opened #714 "Add dark-theme support to Card component"
### Please describe the use case(s) for this component

Enable use of the Card component on a dark themed page / section.

### Please describe the change you wish to see

Currently the Card component comes with a solid white background color. Even when overriding this with `background: inherit;`, neither the heading or description support dark-theme color styling.

### Please describe why these ch

[2021-09-01 14:18] #712 closed

[2021-09-10 21:15] slightlyoffbeat opened #717 "Have an option to display an SVG play icon for cards that open video modals"
### Please describe the use case(s) for this component

We often allow for cards to open a video modal. We usually either:

1. Have the thumbnail include a play icon or
2. Add a bit of CSS to display an SVG play icon.

### Please describe the change you wish to see

It would be great for Protocol to have a method for displaying a video play icon for videos that is standardized.

### Please describ

[2021-09-13 17:10] craigcook opened #718 "Make logos and wordmarks centerable"
The [wordmark component](https://protocol.mozilla.org/patterns/atoms/logo.html#wordmarks) has a fixed width, which is good because it helps maintain consistency across all the different sizes (and an explicit width is also required for image replacement). However, not all wordmark images are the full width of the component. A `background-position` rule explicitly sets the image to one side or the

[2021-09-13 17:19] craigcook commented on #718
Seems like there are a few ways we could do this...

If we go with a utility class, it could look like this:

[code]

Logos are all square so they're easier to center and don't need an override of `background-position`, but they do still need left and right margins set to `auto`.

Another option is to rework the component so it can inherit `text-align: center;` from a parent. That could avoid a pr

[2021-09-13 17:25] craigcook commented on #718
Another wrinkle: The use case for centering a logo/wordmark is often just for mobile. We often want content centered in small windows but left/right aligned in bigger windows. A class would take effect for all breakpoints unless we get really specific like `mzp-t-center-on-sm-md` (there's precedent for this).

[2021-09-13 23:18] #714 closed

[2021-09-14 19:09] craigcook opened #722 "Update Sass, replace slash divisions"
Protocol is currently on gulp-sass 4.1.1. As of gulp-sass 5.0.0, it no longer includes its own Sass compiler and requires an additional package, either sass or node-sass. While testing it with the latest Sass package I learned that [using `/` as a division operator is being deprecated](https://sass-lang.com/documentation/breaking-changes/slash-div).

We should weed out all our uses of `/` for divi

[2021-09-15 13:51] maureenlholland opened #723 "Handle protocol-assets PNG removals"
A [breaking change](https://github.com/mozilla/protocol-assets/issues/65) is coming in protocol-assets.

⚠️ This will likely be a breaking change for protocol as well.

Success criteria:
- Logo and wordmark mixins use SVG with expected sizing based on existing size classes
- No unexpected breaking images with protocol-assets branch

[2021-09-22 14:38] #722 closed

[2021-09-23 17:03] craigcook opened #729 "Add brand themes for Mozilla VPN and Pocket"
Mozilla VPN and Pocket have distinct brand elements (fonts, colors, common motifs) that don't currently reside in Protocol. We should add them.

Mozilla VPN is mostly the same as the Mozilla brand, with a black and white dominant palette and Zilla Slab for headings, but it uses purple as an accent color and is mostly distinguished by the "offset shadow" box style.

![image](https://user-images.git

[2021-09-23 17:23] craigcook commented on #729
Also filed https://github.com/mozilla/protocol-tokens/issues/97 for Pocket tokens

[2021-09-29 12:18] reemhamz commented on #706
Closing because protocol updates helped with width, and we documented a good amount of nits on the Bedrock docs when defining Protocol macro components.

[2021-09-29 12:18] #706 closed

[2021-10-12 21:25] nathan-barrett opened #732 "Add file paths to protocol documentation"
I think that adding the file path for each component to the documentation would be a nice quality of life improvement.

This should be an easy addition and would help maintainers and contributors know where to look for specific component or utility classes.

Example:
For the split component it would be: `protocol/css/components/split`

[2021-10-14 05:49] MarjaE2 opened #733 "Way too much pain/animation on Mozilla websites"
## Description

When I visit Mozilla support websites, I get hit with a ton of pain/animation, and get migraines, dizziness, and nausea from these.

### Steps to reproduce

visit https://www.mozilla.org/en-US/

scroll down

The navigation header suddenly scrolls up faster than the page.

scroll down at least a quarter of the way, scroll up, scroll down again.

The navigation header scrolls down an

[2021-10-14 23:32] #733 closed

[2021-10-21 14:02] alexgibson opened #736 "Type error: e.matches is not a function in protocol-utils.js"
## Description

One of the highest-frequency JS errors we currently see on bedrock is from protocol-utils.js (57k + errors):

https://sentry.prod.mozaws.net/operations/bedrock-prod/issues/9874490/

It seems to be this line: https://github.com/mozilla/protocol/blob/main/src/assets/js/protocol/protocol-utils.js#L40

### Steps to reproduce

The error occurs in older browsers that do not support eleme

[2021-10-27 11:15] maureenlholland opened #738 "Update logos and wordmarks to include Firefox Relay"
Enhancement related to https://github.com/mozilla/protocol-assets/issues/79, which must be merged before the Protocol change can be published.

[2021-10-31 06:35] Ayushsunny commented on #732
Hey, @reemhamz, @nathan-barrett Thanks.
I'm a little bit confused here and sorry for that,
So we're are gonna add this `protocol/core/protocol/css/components/split";` line for an example in https://github.com/mozilla/protocol/blob/main/src/patterns/organisms/split/split.hbs to appear in this https://protocol.mozilla.org/patterns/organisms/split.html?

[2021-11-01 11:15] maureenlholland commented on #732
@Ayushsunny sorry for the delayed response. Thanks for following up!

You're absolutely in the right place, we would like to add a line as the first item of a component's Notes section: https://github.com/mozilla/protocol/blob/main/src/patterns/organisms/split/split.hbs#L6

We'll use the path from the way the node module package bundles. There's already a [section in the README](https://github.com

[2021-11-02 18:19] #738 closed

[2021-11-29 11:00] alexgibson opened #745 "Lint CSS/JS using NPM scripts"
In order to migrate away from Gulp, an easy first-step is to move Stylelint and ESLint Gulp tasks over to use NPM scripts.

[2021-11-29 12:51] alexgibson opened #746 "Create a standalone webpack config for compiling the Protocol NPM package"
This can exist separately from whatever we use to build the docs.

Also needs to watch for changes on CSS/JS files and recompile when `mode=development`.

[2021-11-29 14:44] alexgibson opened #748 "Move Karma test command to NPM script"
Same as https://github.com/mozilla/protocol/issues/745 but for the JS Karma tests.

[2021-11-29 14:45] alexgibson commented on #746
Depends on:

- https://github.com/mozilla/protocol/issues/745
- https://github.com/mozilla/protocol/issues/748

[2021-12-03 10:43] alexgibson opened #749 "Modal keyboard focus logic is broken"
## Description

When doing some keyboard navigation testing, I noticed the modals on bedrock no longer limit focus to elements within the modal content.

### Steps to reproduce

1. Open https://www.mozilla.org/en-US/about/leadership/
2. Click on a leadership photo to open a modal.
3. Press the tab key to start moving the focused element.

### Expected result

Only elements within the modal should

[2021-12-08 01:25] #745 closed

[2021-12-08 01:54] #736 closed

[2021-12-08 15:08] alexgibson opened #751 "at2x mixin doesn't support single keyword values for background-size"
## Description

It should be possible to use the `at2x` mixin with `background-size` single keyword values, such as `cover` and `contain`.

### Steps to reproduce

@include at2x('/path/to/some/background-image.png', cover);

### Expected result

`background-size: cover;`

### Actual result

`background-size: cover auto;` which is invalid.

### Environment

Firefox Nightly 97
macOS

[2021-12-08 16:55] craigcook commented on #450
We looked into Storybook as an alternative to Drizzle, but ultimately decided to go with Fractal as our new doc platform.

[2021-12-08 16:55] #450 closed

[2021-12-09 10:51] alexgibson opened #753 "Update protocol to extend standard ESLint configs"
I think we can likely stop using https://github.com/mozilla/eslint-config-protocol and lean more into ESLint's standard config. Bedrock has already done this, and now we're moving to Webpack here this will give us a bit more flexibility.

[2021-12-10 12:11] maureenlholland opened #755 "Sass update: migrate away from @import"
## Description

Sass's target date to drop support for `@import` is [Oct. 2022](https://github.com/sass/sass/blob/main/accepted/module-system.md#timeline)***. The Sass team has a [blog post on their reasoning for this.](https://sass-lang.com/blog/the-module-system-is-launched). We can use their migration tool, but there will likely be some manual restructuring/troubleshooting required.

***update

[2021-12-13 18:47] #748 closed

[2021-12-14 23:26] #746 closed

[2021-12-15 09:52] #753 closed

[2021-12-15 11:02] alexgibson commented on #377
@craigcook now that bedrock is also using webpack, I think it might be a good idea to enable our JS components to be imported. We could still keep the global variable I think for backward compatibility.

[2021-12-16 15:31] alexgibson opened #758 "Modal styles assume light color themed links"
## Description

The current modal styles seem to assume that all links contained within the modeal will be light color themed. This can cause issues on links that appear on dark backgrounds, or use colored buttons.

Ref: https://github.com/mozilla/protocol/blob/main/src/assets/sass/protocol/components/_modal.scss#L105

### Steps to reproduce

See https://github.com/mozilla/bedrock/issues/9866

###

[2021-12-16 22:26] #749 closed

[2022-01-05 21:45] craigcook opened #759 "Migrate Protocol documentation to Fractal"
The Protocol doc site (https://protocol.mozilla.org) was initially built with Drizzle, a platform that has since been officially deprecated and will no longer be updated. We've opted to migrate to Fractal (https://fractal.build) for our documentation but that migration will entail a number of steps.

This issue can serve as an epic tracking the full migration and we'll break it down into individua

[2022-01-05 23:09] craigcook opened #760 "Use WebPack for tasks"
Protocol currently uses Gulp as a task runner but we're taking the Fractal migration as an opportunity to switch to WebPack.

An off-top-of-the-head list of tasks:

- Compile Protocol SCSS
- Compile Fractal theme SCSS
- Build for local dev:
  - Lint, compile, watch Protocol SCSS
  - Lint, watch Protocol JS
  - Lint, compile, watch Fractal theme SCSS
  - Copy Protocol assets to static
  - Fractal s

[2022-01-06 09:29] alexgibson commented on #760
I think we can cut down / simplify this list based on some of the work already done recently:

- https://github.com/mozilla/protocol/issues/746. This created a webpack config for building the NPM package. This exists entirely standalone from Fractal (and imho should probably remian so).
- https://github.com/mozilla/protocol/issues/745. This removed existing linting tasks from Gulp and replaced the

[2022-01-23 18:36] artra5253 opened #762 "Component Change"
Please use this template to request changes to an existing component.

If you're not sure whether a component already exists,
probably better to just file a new component request and let the Protocol Team triage.

Fill in as many sections as possible below.

### Please describe the use case(s) for this component

What does the component do? In what contexts is it used. Be as specific as possible.

[2022-01-24 02:42] craigcook commented on #762
There was no information provided so I'm assuming this was a mistake. If you have a request feel free to reopen with more info.

[2022-01-24 02:42] #762 closed

[2022-01-25 18:06] craigcook commented on #759
We have a branch for all the Fractal migration work: https://github.com/mozilla/protocol/tree/fractal.

Though it started as a branch from `main`, the first thing I did was delete almost everything except the core assets and then started adding new things from scratch. So the new branch is such a radical diversion that it hardly seems worth trying to merge it to main. Instead, my idea is to eventu

[2022-02-05 21:03] kimberlythegeek opened #763 "URL to heading elements in docs routes to localhost"
## Description

On [Section Heading](https://protocol.mozilla.org/patterns/atoms/section-heading.html) page in the docs, the "heading element" URL routes to localhost:3000

[2022-02-06 03:10] kimberlythegeek opened #765 "Component Request: Dropdown Button for Input"
Please use this template to request changes to an existing component.

If you're not sure whether a component already exists,
probably better to just file a new component request and let the Protocol Team triage.

Fill in as many sections as possible below.

### Please describe the use case(s) for this component

Add a dropdown button for input field, like [button dropdown in Bootstrap](https://ge

[2022-02-06 04:48] kimberlythegeek opened #766 "Component Request: Dropdown for input field, or List Group"
### Please describe the use case(s) for this component

List group, see [bootstrap list group](https://getbootstrap.com/docs/5.1/components/list-group/#basic-example)

Could be used in a variety of ways. My use case is a dropdown for search results, see below

### Please provide any designs or previous implementations of the proposed component
my attempt to use list-menu
![image](https://user-imag

[2022-02-10 21:01] kimberlythegeek opened #767 "input element shows repeating background on hover when disabled is true"
## Description

input element shows repeating background image of the search icon when disabled is set

### Steps to reproduce

go to https://mozilla.github.io/perfcompare/
edit HTML of search input element, add `disabled`
hover over search bar

![image](https://user-images.githubusercontent.com/18633586/153495308-5dd44fe5-65d9-4add-a738-c13af896ee13.png)

### Expected result
would expect search b

[2022-03-08 19:05] reemhamz opened #774 "Add mzp-c-card-large class to hero card layouts"
### Please describe the use case(s) for this component
When using the card component's layout styles, specifically when using the`mzp-l-card-hero` layout, it's not explicitly said that we should add `mzp-c-card-large` class to the card we want to be enlarged. It would create less friction if documented.

[2022-03-26 10:12] avi5079 commented on #774
Hello @reemhamz,
I am a beginner to open source. I would like to learn by contributing to this repo. Could you please guide me with this issue like how to get started?

[2022-03-28 19:25] reemhamz commented on #774
Hi @avi5079, nice to see an interest in contributing to our repository!
The official website for this repository is this: https://protocol.mozilla.org/
Follow the installation instructions for Protocol, as seen in the readMe here: https://github.com/mozilla/protocol

You'll need to create your own branch in order for us to review.

I was thinking of adding a sentence in this page for the [card lay

[2022-03-29 07:02] avi5079 commented on #774
Just to confirm, after learning about different card layouts, I have to edit the https://protocol.mozilla.org/patterns/templates/card-layout.html page specifying the detail you mentioned above? . Should I insert it under the Tips subheading?

[2022-03-29 17:17] avi5079 commented on #774
Thank You for the clarification, @reemhamz.

[2022-03-31 14:31] #774 closed

[2022-04-01 16:38] avi5079 commented on #774
Hey @reemhamz
Is there any other issue/feature I can work on?

[2022-04-02 13:13] avi5079 commented on #668
Hey @craigcook ,
is this issue still persist? if yes then i would like to work on it.

[2022-04-03 05:58] avi5079 commented on #767
Hey @craigcook , @kimberlythegeek So I am working on this issue and I think I have fixed the issue but I don't know by changing scss file on protocol how it will reflect the change on perfcompare repo.
Could you please guide me for that?

[2022-04-04 18:31] craigcook commented on #767
Feel free to submit a pull request with your fix. Once a fix is merged we'll need to publish a new version of Protocol to NPM, and the perf comparison site can then update their dependency to get the latest CSS.

[2022-04-04 18:36] craigcook commented on #668
I think this is on hold while we work on migrating our docs to another platform. We're trying to avoid any major changes until we have our new doc site up and running (hopefully soon).

[2022-04-05 07:23] avi5079 commented on #767
Hey @craigcook , So I added this code in the `_forms.scss` file in `input[type='search']` selector, but it is showing error in the terminal, can you guide me how to fix this error?

[code]

Terminal error :
![error](https://user-images.githubusercontent.com/102278822/161699982-7b10ffc0-c1c1-4efa-ac96-95289d39f135.PNG)

[2022-04-20 22:24] craigcook commented on #767
Sorry for the slow response.

The `bidi` mixin on line 402 requires a comma after the first close parenthesis:

`@include bidi(((padding, 0 $spacing-sm 0 0, 0 0 0 $spacing-sm),));` <-- note the comma in `),))`

This is because it's designed to accept a comma-separated list but isn't quite smart enough to know the difference, so it always expects a comma even when there's only one item. We could pr

[2022-04-21 09:53] maureenlholland opened #779 "Remove default mobile padding on nospace split component"
Related to a bedrock issue & PR:
https://github.com/mozilla/bedrock/issues/11457
https://github.com/mozilla/bedrock/pull/11512#issuecomment-1104545527

We currently include top and bottom padding on nospace split components up until the medium media query, where the spacing is removed.

This causes a noticeable gap on mobile when sibling elements have different background colors.

Should we leave

[2022-04-21 14:49] craigcook commented on #767
The simplest way to test Protocol styles locally is on the Protocol website itself. You can see a search field in http://localhost:3000/patterns/atoms/forms.html#other-input-types though it's not disabled. You can temporarily add a `disabled` attribute in the template at https://protocol.mozilla.org/patterns/atoms/forms.html#other-input-types for testing, just remember not to include that in your

[2022-04-21 17:44] craigcook commented on #779
I wonder if we could combine it with the `mzp-c-split-bg` class to zero the padding only when there's a background color... though the bg class appears on an element _inside_ the one with the nospace class so I'm not sure how to select for that.

[2022-05-11 18:12] craigcook opened #783 "Add a style rule for the `hidden` attribute."
## Description

The global `hidden` attribute indicates that an element is not relevant and shouldn't be rendered ([see MDN](https://developer.mozilla.org/docs/Web/HTML/Global_attributes/hidden)). Modern browsers treat it as equivalent to CSS `display: none` but old browsers don't recognize the attribute and will still render the element.

We should add a style rule to our global reset:

`[hidden]

[2022-05-17 15:28] ehot opened #784 "Update Button Style - Add Color Hover Support"
### Button Style - Add Color Hover Support

#### Use Cases
- Support for Error & Success States
- Support for future Brands

### What is Changing?

**Black Button**
- Default, `Fill: #000000; Border: 2px solid black;`
- Hover, Active, Visited `Fill: transparent; Border: 2px solid black;`
- Disabled `Opacity: 80%;`

**Inverse Button - #0060DF, should be whatever color link blue is**
- Default, `Fil

[2022-05-20 01:02] slightlyoffbeat opened #785 "Add additional social icons"
Add support for TikTok, Spotify, and LinkedIn icons in Protocol

Found this resource for easily getting SVGs of icons, if useful:

https://simpleicons.org/

[2022-05-20 01:07] slightlyoffbeat commented on #785
Closed in favor of https://github.com/mozilla/protocol-assets/issues/84

[2022-05-20 01:07] #785 closed

[2022-05-27 11:40] maureenlholland commented on #779
Yeah, would be a good use for `.mzp-t-split-nospace:has(.mzp-c-split-bg)` selector but there's [not enough support ](https://caniuse.com/?search=%3Ahas())

To avoid complicating things, I'd go for a small note on the split nospace component docs that this is a potential issue to keep in mind.

[2022-06-01 21:31] #767 closed

[2022-06-02 04:58] reemhamz commented on #759
Hey developers, here's how we run this branch:
First, make sure you run `npm install`. You're going to need 2 terminal windows running.
- In one, type `npm run webpack-docs`
- In the other, type `npm start` and follow the localhost URL.

[2022-06-06 14:17] architsinghal-mriirs commented on #783
Hi. @craigcook  Please assign this issue to me.

[2022-06-07 01:00] craigcook opened #787 "Deprecate (or update) the Callout component"
We've deprecated the Hero component in favor of Split (for Hero with image) or Callout (for Hero without an image). However, Callout in its current state isn't actually an adequate replacement for the non-image, centered Hero without some modifications.

Namely:
- Callout has built-in logos. We should instead prefer the newer Logo/Wordmark components (however we first need to make Logos and Wordma

[2022-06-07 16:40] craigcook commented on #759
Let's edit the checklist comment above to put our names next to any components we're claiming, to avoid more than one person working on the same thing.

We could also create an issue for each one but that feels like a lot.

[2022-06-08 23:31] reemhamz commented on #759
Very odd, I didn't get that either.

[2022-06-08 23:33] nathan-barrett commented on #759
I actually got this, but it happened when I ran `npm build` on the `main` branch

[2022-06-08 23:40] reemhamz commented on #759
Are we supposed to run `npm build`?

[2022-06-08 23:58] craigcook commented on #759
No, just `npm start`. The fractal branch doesn't have a `src` folder at all, so if anything that's a leftover from switching branches. We could add it to gitignore if this keeps happening.

[2022-06-08 23:59] nathan-barrett commented on #759
Sorry, no - I was just seeing how the webpack build worked in protocol to help when I was working on trafficcop

[2022-06-09 09:03] maureenlholland commented on #759
Ah, thanks @nathan-barrett that explains it. Yes, I probably had this folder hanging out in my workspace for a while but the current `main` branch excludes them so I never noticed. Mystery solved! +1 on not including in the fractal .gitignore

[2022-06-16 05:36] reemhamz opened #800 "Wrap pixel values in `code` syntax in Fractal migration"
## Description
Based on [this conversation](https://github.com/mozilla/protocol/pull/786#discussion_r894131785), we're going to wrap pixel values in the Fractal migration inside backticks for code-like syntax. This can help users quickly navigate to pixel values they'd need to use.

We can test this out for a bit and revert if we don't like it much, however I tend to see code when I read pixel val

[2022-06-16 15:44] craigcook commented on #787
The Compact Call-Out appears to be a variant of the same component, but it's actually a completely separate component. It even has its own class, `mzp-c-call-out-compact`. So none of the above changes to Call-Out would need to have any impact on the Compact Call-Out, but we should think about deprecating/replacing the compact one as well since it has some of the same issues.

* Built-in logos.
* D

[2022-06-16 19:47] craigcook commented on #800
I think once we have all the components added in I'm going to make a "consistency pass" through everything to look for tweaks to formatting, indentation, variable names, etc.

[2022-06-16 21:54] reemhamz commented on #800
Good idea. This can wait till migration is finished, then

[2022-06-24 13:55] alexgibson opened #805 "Consider using variable font for Inter"
### Please describe the use case(s) for this component

Inter is now available in variable font format, as well as a standard web font: https://rsms.me/inter/

### Please describe the change you wish to see

For browsers that support variable fonts, it would be nice if they used the new format, whilst older browsers continue to use the standard fonts.

### Please describe why these changes need to

[2022-06-29 17:37] craigcook commented on #759
Migration complete! The old [Drizzle-based main branch has been archived](https://github.com/mozilla/protocol/tree/main-archive-20220629) and the Fractal-based working branch has become the new main branch.

That required force-pushing to `main` so you may get some funkiness locally when you rebase but hopefully relatively painless (and you'll need to force-push `main` on your remote forks).

Than

[2022-06-29 17:37] #759 closed

[2022-07-07 11:56] Draxgee opened #811 "My dream78"
## Description

Describe the issue that you're seeing.

### Steps to reproduce

Clear steps describing how to reproduce the issue. Provide a URL or screenshot, if possible.

### Expected result

What should happen?

### Actual result

What happened.

### Environment

What browser and operating system are you using?

[2022-07-07 11:59] Draxgee commented on #805
Nice to try

[2022-07-07 11:59] #811 closed, assigned to nobody

[2022-07-10 13:33] maxxcrawford opened #812 "Previous URLs are broken with new docs"
## Description

I have a few specific pages bookmarked from the Protocol docs site. (https://protocol.mozilla.org/fundamentals/tokens.html)

### Steps to reproduce

- Go to https://protocol.mozilla.org/fundamentals/tokens.html
- Expected: Page loads correct "tokens" page
- Actual: 404 Error.

### Expected result

- The old URLs redirect to the new pages. (https://protocol.mozilla.org/docs/fundamen

[2022-07-11 15:26] craigcook opened #813 "Consider adding analytics to the doc site"
protocol.mozilla.org currently has no analytics at all, so we don't really have a sense of how much traffic the site is getting or how people are finding it. We could add Google Analytics but this might be a good use for Glean.js instead. We don't need much, but it would be nice to count hits, referrers, search terms, top pages, etc. It's also possible we already get some basic analytics from Netl

[2022-07-12 22:05] nathan-barrett opened #814 "Update .stylelintrc to match config from 'mozilla/bedrock'"
## Description

Update the existing `.stylelintrc` file to extend the `stylelint-config-standard-scss` rules and match the config file in `mozilla/bedrock` [here](https://github.com/mozilla/bedrock/blob/main/.stylelintrc)

### Success Criteria

- [ ] `.stylelintrc` has been updated
- [ ]  affected files have been reformatted

[2022-07-13 20:09] nathan-barrett commented on #814
@katiechurchwell assigned! A couple notes I forgot to mention:
- [ ] the library `stylelint-config-standard-scss` will need to be added via npm
- [ ] run `npm run lint-css` to lint all `.scss` files before your PR so that the files have been reformatted correctly

[2022-07-13 22:20] nathan-barrett commented on #755
hey @maureenlholland - been working on this slightly while you've been out - and it definitely will take some file restructuring in protocol some things to note:
- Looks like the depreciation has been pushed back: https://github.com/sass/sass/issues/3223#issuecomment-1002813284
- Peer modules arent supported (will throw an error) - so how we handle the `includes` folder will need to change since a

[2022-07-14 14:54] alexgibson commented on #694
Pretty sure this got fixed along the way, closing

[2022-07-14 15:23] reemhamz opened #815 "Improve accessibility with the new Fractal migration"
## Description
Accessibility with the Fractal site is at an 80% based on Lighthouse's score:
<img width="600" alt="Screen Shot 2022-07-14 at 11 19 46 AM" src="https://user-images.githubusercontent.com/42309026/179017710-526289f2-9fea-47fa-bfa9-33a572f00d3d.png">

Most of the accessibility issues are coming from the menu bar, which should be easy enough to fix.

## Steps to reproduce
- Open Chrome

[2022-07-14 16:35] alexgibson commented on #805
I'm going to close this as wontfix.

The Inter variable font works well, but the performance trade off only seems worth it on pages where we load regular, bold and italic font styles. On mozorg at least, we typically only load 2 weights, not 3.

[2022-07-14 16:35] #805 closed

[2022-07-14 21:06] katiechurchwell commented on #814
@nathan-barrett Ok, I have a quick update and a question for you!

 - :heavy_check_mark: Extended and added the dependency for `stylelint-config-standard-scss`
- Partially reformatted when running `npx stylelint "**/*.scss" --fix`
  - `npm run lint-css` doesn't work for me which makes me feel like the script should be updated?
  - getting a lot of `no-descending-specificity` messages so figuring o

[2022-07-14 21:21] nathan-barrett commented on #814
Cool! Nice work @katiechurchwell - I think I miscommunicated what the best way to do this - I think that the `.stylelintrc` file in protocol should contain the same rules that are found inside the bedrock repo - but also keep the existing rules that are in place in protocol.  If there are two matching and/or conflicting rules - we should use the preference set in bedrock.

Let me know if any of th

[2022-07-19 19:52] #815 closed

[2022-07-20 21:02] #783 closed

[2022-07-21 21:46] katiechurchwell commented on #814
@nathan-barrett Hi Nathan, I wanted to provide an update on this issue. It's coming along but I'm concerned about some of the linting rules causing some breaking changes; kebab case and no global function names in particular. I could go ahead and format everything and submit a PR to have you check it out but I wanted to doublecheck these are the intended changes.

[2022-07-25 18:45] nathan-barrett commented on #814
@katiechurchwell good call out! Lets keep the duplicated variable names.

As for the rest, lets create a PR and I can take a look to see how much it changes and we can see what the best path forward is! Thanks @katiechurchwell

[2022-07-26 15:06] maureenlholland commented on #755
Some thoughts for fixing the module loops we currently experience when running an automated sass migration:

1. Move user-configurable variables to a separate partial and `@forward` them in the lib file. (This would mean $brand-theme, $type-scale, $image-path, $fonts-path live in a separate `_config` partial, so it's clear users can change these variables when they load Protocol lib)

2. Move them

[2022-07-26 16:54] nathan-barrett commented on #755
Love all the thought and foresight you're putting into this @maureenlholland! I think the only bell that is ringing in my head with this, is that our documentation for protocol would need to be extra clear about how to import the different function and mixin files.

[2022-07-26 18:13] #718 closed

[2022-07-26 23:20] craigcook commented on #755
I still haven't read up enough on `@use` so my opinions in this matter aren't well informed. Pardon me if I'm speaking from my own posterior.

1. I'm not opposed to having a `_config` file, and actually explored that at one point while working on theming. But what I ran into at the time was that with `@import` I had to set the theme variables _before_ importing `_lib` so all the bits can know what

[2022-07-27 09:52] maureenlholland commented on #755
Thanks for the responses! For clarity, we would need to use all three of these suggestions or some variation of them because they are solving different loop issues.

For 3, we want to avoid the following loop:
- mixins.scss uses mixins/grid.scss
- mixins/grid.scss uses mixins.scss (to access the border-box mixin)

I think another, potentially less fragile way to do this is as follows:
- rename mix

[2022-07-27 15:36] craigcook commented on #755
Well I did warn you I didn't know what I was talking about. I read this as three solutions to one problem and I picked my favorite. But now that I know it's three problems...

1. One challenge is making Protocol easy to consume, and users should never be asked to edit a core file that will be overwritten by an update. If there is a single customer-edited config file that lives in the root that all

[2022-07-27 17:10] maureenlholland commented on #755
re: removing grid mixins - sounds good to me!

[2022-07-27 19:04] craigcook commented on #755
That said, removing the grid mixins would be a breaking change (but so is all the rest of this stuff) so we'll need to do it with caution and offer some clear migration steps for anyone else who might be relying on them. If that seems to be too much hassle we could still break up mixins, which might be a good thing to do even beyond just fixing the grid looping problem.

[2022-07-27 19:54] katiechurchwell commented on #814
@nathan-barrett Great! Noobie problem but I'm looking into how to create a PR as I don't have permission to create a new branch... would I use moz-phab for that...? Sorry!  :sweat_smile:

[2022-07-27 19:58] nathan-barrett commented on #814
No problem! Best way to do this would be to create your own fork of protocol on github - and then add that fork to your list of remotes on your local repo:
[code]
(you don't have to use origin for your own fork, but I find it easiest)

Once you push your commits up to your fork you should have the option to open a pull request. Happy to help if you have anymore questions

[2022-07-28 09:49] maureenlholland commented on #755
+1 on being extra careful with breaking changes (migration steps in changelog, doc updates... will update description for those success criteria)

re: config files, there might be something interesting we could do with allowing user-created themes, when folks want to use Protocol components, but with a theme not officially supported in the design system. Some Sass docs on `@use` and [style configu

[2022-09-05 22:15] Rexogamer opened #822 "Make `<code>` elements easier to distinguish"
Originally mentioned in mozilla/kitsune#5037, `<code>` elements are currently rather hard to distinguish (image from the issue's creator):

![image](https://user-images.githubusercontent.com/42586271/188516402-ab1f574b-4231-40d1-8c41-84f8562590e7.png)

They would be more discernable with some sort of background/border - here's a mockup I made:

![image](https://user-images.githubusercontent.com/42

[2022-09-07 13:44] reemhamz commented on #822
Hey @Rexogamer! Thanks for writing up this issue.
Protocol doesn't provide styles for `<code>` tags necessarily. What you see on our site's sidebar (https://protocol.mozilla.org/) is what we essentially have designs for. Our typography section also doesn't cover the `<code>` tag.

Digging into Kitsune's codebase, I think the underlying code that should be updated here lives in this file: https://g

[2022-09-07 13:44] #822 closed

[2022-09-07 13:46] Rexogamer commented on #822
I was looking everywhere for the relevant CSS and it was there - thanks for
the heads up ^^

On Wed, 7 Sep 2022 at 14:44, Reem H ***@***.***> wrote:

[2022-09-14 22:56] #814 closed

[2022-10-12 14:35] thomassth opened #823 "Input not needing aria-disabled?"
From multiple sources I read, `input disabled` seems to already covered the function of `aria-disabled`. But the current doc suggests to add both:

https://protocol.mozilla.org/components/detail/input--disabled.html

Is there a reason behind it? Or can we remove that

[2022-10-14 10:06] maureenlholland commented on #823
Sounds reasonable to remove, or clarify the separate use case for `aria-disabled`. [MDN docs](https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Attributes/aria-disabled):

@craigcook what do you think?

[2022-10-17 19:25] nathan-barrett opened #824 "Create helper class for `mzp-l-content` to remove vertical padding"
### Please describe the use case(s) for this component
In cases where you not want vertical padding when using the `mzp-l-content` class, this helper class would set the vertical padding to zero.
What does the component do? In what contexts is it used. Be as specific as possible.

### Please describe the change you wish to see

Adding a new class that would override the vertical padding rules of `

[2022-10-18 11:03] maureenlholland opened #825 "New Component Request: Back to Top button"
### Please describe the use case(s) for this component

On a long page it is useful to have a quick navigate to top option. (see original bedrock issue: https://github.com/mozilla/bedrock/issues/9910)

The button should not appear on pages that are not long enough to need this option

### Please provide any designs or previous implementations of the proposed component
<img width="154" alt="back-to

[2022-10-18 11:05] maureenlholland commented on #825
Couple of open questions:
- is 1.5x viewport long enough to wait for trigger to show button or should we follow NN group recommendation of 4x down scroll AND indication user wants to scroll up?
- should the page jump to top or scroll or choose which of those to do based on user motion pref?
- do we want to use "Back to top" text button instead of icon only

[2022-10-18 11:22] reemhamz commented on #825
Thanks for putting this issue together!
As for placement of the button, I would vote for having it appear after a certain height of the viewport rather than all the way down in the footer/end of the page. That way, if it's a long page (i.e. [State of Moz](https://www.mozilla.org/en-US/foundation/annualreport/2020/)), the user has the option to scroll all the way to the top when they're a few secti

[2022-10-19 17:12] craigcook opened #826 "Button text should be centered"
## Description

When button styling is applied to a link (`a` element) it inherits `text-align` from its parent. `button` and `input type="button"` have centered text as part of browser default styling but links don't.

We should explicitly add `text-align: center` to our base button style to normalize across both `button`.

[2022-11-01 21:39] craigcook commented on #823
Agreed, we should update the docs.

[2022-11-01 21:41] craigcook commented on #582
No longer relevant since we migrated docs to Fractal. Closing. Thanks!

[2022-11-01 21:41] #582 closed

[2022-11-01 21:57] craigcook opened #828 "Update the home page"
The home page of the Protocol documentation site is pretty bare-bones and was mostly just stubbed out as part of the Fractal migration. We should make a proper home page that is informative and useful.

[2022-11-08 10:14] alexgibson opened #829 "Modals do not receive focus on open"
## Description

I noticed the modals on mozorg no longer seem to receive focus on open, which is an a11y issue as the contents become unreachable to screen readers.

### Steps to reproduce

1. Open https://www.mozilla.org/en-US/firefox/features/tips/
2. Click on a thumbnail to open a modal.
3. Press the tab key

### Expected result

Focus should move to an element inside the open modal.

### Actua

[2022-11-08 13:26] alexgibson opened #830 "Annual Report modals do not auto-open on page load"
## Description

We have [code](https://github.com/mozilla/bedrock/blob/main/media/js/foundation/annual-report-2019-2020.es6.js#L191) in the annual report pages that tries to auto-open a modal if there's a hash in the URL on page load. This doesn't seem to be working in my testing.

### Steps to reproduce

1. Open https://www.mozilla.org/en-US/foundation/annualreport/2020/#mitchell-baker-letter

##

[2022-11-08 13:26] alexgibson commented on #830
Doh, wrong repo

[2022-11-08 13:26] #830 closed

[2022-11-08 14:55] maureenlholland commented on #707
more spacing would help with https://github.com/mozilla/bedrock/pull/12344

we might also consider add `overflow-wrap: word-break;` for defensive coding

[2022-11-08 15:24] maureenlholland commented on #199
closing as we have deprecated the hero component

[2022-11-08 15:25] maureenlholland commented on #199
closing as we have deprecated hero component

[2022-11-08 15:25] #199 closed

[2022-11-08 15:26] maureenlholland commented on #222
closing as we have deprecated hero component

[2022-11-08 15:26] #222 closed

[2022-11-08 15:31] maureenlholland opened #832 "Remove outdated issues"
Docs day reminder. Good time to clear out issues that are no longer relevant.

[2022-11-09 10:32] maureenlholland opened #833 "Localization-friendly by default"
general issue best described here: https://github.com/mozilla/bedrock/pull/12344#discussion_r1017640449

Things we might want to consider:
- smaller content containers with larger fonts gets `hyphens: auto` styling
- updating docs to suggest leaving more room to layouts meant to accommodate localized content
- adding truncate utility with guidelines for use

[2022-11-10 23:51] amychurchwell opened #835 "Add `og:image` meta property to head"
## Description

When linking to protocol.mozilla.org externally, there is no preview icon unlike mozilla.org.

[2022-11-10 23:52] amychurchwell commented on #835
@nathan-barrett this could be a good first bug. 🙂

[2022-11-28 16:10] alexgibson opened #839 "Update newsletter component to include JS to post directly to Basket"
### Please describe the use case(s) for this component

Now that https://github.com/mozilla/bedrock/issues/11944 is complete, newsletter forms no longer rely on bedrocks' backend to post to Basket. There are still a few external sites that post via bedrock however, so we'd like to provide a go-to alternative here in Protocol that they can use / cherry-pick instead.

### Please describe the change

[2022-11-28 16:14] alexgibson commented on #839
Depends on https://github.com/mozilla/protocol/issues/255

[2022-11-28 19:17] craigcook commented on #830
This was filed in the wrong repo, but I wonder if this is something we should bake into the component...